[2018-08-16 17:24] wimjongman opened #8 "Add Opal widgets to project set file"

[2018-08-16 17:30] wimjongman commented on #8
Fixed

[2018-08-16 17:30] #8 closed, assigned to nobody

[2018-10-04 09:37] IanMayo opened #9 "Requirement for Split Button with Toggle Behaviour"
A Split Button is a Push Button that also contains a drop-down menu.

The drop-down menu typically contains modifiers for how the push button action is performed.  In this example the UI allows the user to change what kind of search is performed:

![image](https://user-images.githubusercontent.com/1108513/46465793-775d0300-c7c1-11e8-8ab1-450b03d6f0be.png)

Sadly in the JFace Action implementation,

[2018-10-07 15:47] wimjongman commented on #9
This is the style for the top level button. Inside it is possible to have check or toggle.

Why did you file this issue here?

![image](https://user-images.githubusercontent.com/180969/46583566-8827a600-ca59-11e8-98f9-f21ef2330fc4.png)

[2018-10-07 16:04] IanMayo commented on #9
I believe that SWT doesn't currently have a button that can provided `Toggle` _and_ `Drop-down` behaviour.   i.e. a button that has on/of states, that also has a drop-down menu to further customise the operation.

I'm coarsely simulating the behaviour by manually change the button icon to show a selected state, but it doesn't match the look & feel of other toggle buttons.

I posted it here for two

[2018-10-07 20:06] wimjongman commented on #9
It looked like you described a bug in JFace. Did you ask in SWT and JFace the possibility to add this behavior?

[2018-10-08 08:22] IanMayo commented on #9
Aah, @wimjongman - thanks for the advice. I mistakenly viewed JFace as an immovable beast, with Nebula the pragmatic way to get new UI features.  I'll post the issue in JFace forum.

[2018-10-08 08:52] IanMayo commented on #9
Issue submitted to JFace forum:
https://www.eclipse.org/forums/index.php/t/1095514/

[2018-10-08 10:41] wimjongman commented on #9
Hey Ian,

I’m sorry to let you jump thru hoops but it ia best if you would directly file a bug against jface in Bugzilla.

[2018-10-08 10:43] IanMayo commented on #9
Ok @wimjongman  - it really is a lot of work for newbies :-)

Reported:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=539914

[2018-10-08 11:16] wimjongman commented on #9
I know. Please be persistent.

[2018-10-26 18:39] wimjongman opened #10 "PromptSupport can get fooled if same text is typed"
Opal PromptSupport does not know when the user typed the same text as the initial prompt text. PromptSupport may only show the prompt if the underlying text widget is actually empty.

[2018-10-26 18:43] wimjongman opened #11 "Create Floating Text Widget"
Create a Floating Text widget which is common in mobile applications.

Instances of this class are selectable user interface objects that allow the
user to enter and modify text with a label floating above the input area.
FloatingText controls can be either single or multi-line. In contrast to a
Text widget, when a floating text control is created with a border, a custom
drawn inset will be painte

[2018-10-26 19:22] wimjongman opened #12 "PromptSupport does not restore initial look for SWT.MULTI texts"
For some reason the initial look is not restored for SWT.MULTI

[2018-10-26 20:03] wimjongman commented on #11
@vogella please take a look.

[2018-10-26 20:06] wimjongman commented on #11
![2018-10-26_22-05-47](https://user-images.githubusercontent.com/180969/47590048-5aa08f00-d96b-11e8-8c8e-d6ab4b119c13.gif)

[2018-10-28 15:43] mickaelistria commented on #11
I like it a lot! Does it behave well with screen readers and accessibility in general?

[2018-10-28 20:08] vogella commented on #11
Looks awesome! Thanks, Win.

Mickael Istria <notifications@github.com> schrieb am So., 28. Okt. 2018,
16:43:

[2018-10-28 21:39] wimjongman commented on #11
I have no idea. I hacked it in a couple of hours. But you gave me an idea to use a label as the top element instead of a composite.

[2018-10-28 22:52] wimjongman commented on #11
It does now ;)

[2018-10-31 18:49] wimjongman commented on #11
![2018-10-31_19-48-51](https://user-images.githubusercontent.com/180969/47811430-0ff58d00-dd46-11e8-943c-39d9a08d9855.gif)

[2018-11-01 09:07] vogella commented on #11
Wim, this looks awesome. How about using this widget in our  wizard, e.g., the New Project wizard. Might give Eclipse a "fresh" feeling.

![new project _734](https://user-images.githubusercontent.com/139910/47842757-eed08300-ddbd-11e8-9e69-e054b1d39d19.png)

[2018-11-01 09:25] tomsontom commented on #11
Hi,

I don‘t think this would be a good idea. The platform UI needs to be consistent and the platform has beside that the rule to not depend on stuff out the platform like nebula.

Tom

Von meinem iPhone gesendet

[2018-11-01 09:34] vogella commented on #11
We could consistently update the wizards and the rule could be changed if we think this makes sense. Or we could move the widget to JFace or SWT.

[2018-11-01 10:29] wimjongman commented on #11
I guess we have to move it then but we have to be very careful. I agree with both of you.

First need to make sure that the widget is behaving well on all supported platforms and in theming and in HDPI and in large text environments. That is not so simple.

Fortunately, the widget is childishly simple. It is just a composite with a stacked label/text. So that is good. It also works with prompt sup

[2018-11-01 11:04] wimjongman opened #15 "PromptSupport might loose style"
When the user adds a prompt support to a text widget, the prompt support retrieves the style (colors and font) from the widget but does not keep track of intermediate changes to the text widget regarding this style (color and font).

This might result in problems when the user changes the style after prompt support was added to the widget. e.g. the original styles might be disposed.

[2018-11-06 14:52] lcaron commented on #10
Hi Wim,
If I understand well, if one type the same text than the "prompted" text, the prompted text is displayed ?

[2018-11-06 14:54] wimjongman commented on #10
Then the prompt support thinks that nothing was typed and clears the text on focus lost.

[2018-11-06 14:59] lcaron commented on #10
Ok thanks

[2018-11-13 20:41] lcaron commented on #12
Issue verified

[2018-11-13 20:41] #12 closed, assigned to nobody

[2018-11-17 11:02] lcaron commented on #9
I've developped a custom SplitButton in the past... It is based on a SWT BUTTON and I draw the separator and the arrow on it.

@wimjongman What do you think about this idea ?

[2018-11-17 16:59] lcaron commented on #10
Issue merged and closed

[2018-11-17 16:59] #10 closed, assigned to nobody

[2018-11-17 18:08] lcaron commented on #15
Wim,
I worked on this subject and I'm facing a big problem: I can not handle color/font changes on the parent control (there's no listener).

The only way I found is using AOP... Or provide a method that refresh the Prompt after a color or font change (in this case this is not automatic and code should be added after each change)

What do you think ?

Laurent

[2018-11-19 22:20] wimjongman commented on #15
A wild guess but could you add yourself to the dispose listener to the current font and color and do something if this get's called.

________________________________
From: lcaron <notifications@github.com>
Sent: Saturday, November 17, 2018 7:08:54 PM
To: eclipse/nebula
Cc: Wim Jongman; Author
Subject: Re: [eclipse/nebula] PromptSupport might loose style (#15)

Wim,
I worked on this subject and I'

[2018-11-19 22:26] wimjongman commented on #9
That's nice. I would like to see that code.

[2018-11-20 07:05] IanMayo commented on #9
@wimjongman - I've now reflected on the issue, and added a comment to the bug:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=539914

Significantly, this seems a JFace issue that can't be resolved through provision a custom Nebula widget.  In an RCP toolbar, we just add JFace Action instances, with a status bit that indicates how the control should be rendered.  I realise I need to first modify JFa

[2018-11-20 15:02] BeckitBenkster opened #27 "RichTextPainter calculates wrong height"
The problem has already been described here:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=541345

I will copy the discussion in here anyway:

---

currentLine = null;

[2018-11-29 18:07] lcaron commented on #15
Good idea but IMHO it solves only some cases. For example in our application we use a "ResourceManager", a big cache that stores disposable elements (fonts, colors...).
So if in the style changes after the PromptSupport has been initialised, I won't be informed of that because the style may have not been disposed.

In order to solve this issue, I see only 3 solutions:
a) Use AOP to intercept chang

[2018-12-06 19:41] fipro78 commented on #27
Fixed, please verify

[2018-12-06 19:41] #27 closed, assigned to nobody

[2018-12-19 09:11] wimjongman commented on #11
![2018-12-19_09-56-21](https://user-images.githubusercontent.com/180969/50210405-4e86eb80-0376-11e9-8227-43164588d0d0.gif)

[2018-12-19 09:29] wimjongman commented on #11
Bug 532680 - Create a new floating text widget

Resolved

[2018-12-19 09:29] #11 closed, assigned to wimjongman

[2018-12-20 23:19] wimjongman commented on #11
@vogella

![2018-12-21_00-17-40](https://user-images.githubusercontent.com/180969/50316223-0838a600-04b6-11e9-83af-d4e9bf7dc100.gif)

[2018-12-21 09:15] vogella commented on #11
Thanks Wim for this. In this prototype I find it confusing that the same font is used for "Hint" and "Real text". I would suggest to use a "gray and smaller" font for the hint. Also the small line between Hint and Real text does not look good to me.

[2019-02-14 14:36] wimjongman opened #41 "ProgressCircle requires a specific SWT version"
https://github.com/eclipse/nebula/blob/5209a3de9803757807d7a75c478607fbac4bd5c4/widgets/progresscircle/org.eclipse.nebula.widgets.progresscircle/META-INF/MANIFEST.MF#L9

Is this really needed? Also, why do you re-export SWT?

[2019-02-14 18:45] lcaron commented on #41
Problem fixed

[2019-02-14 18:45] #41 closed, assigned to nobody

[2019-02-15 10:00] wimjongman commented on #41
Issue tracker reference: https://bugs.eclipse.org/bugs/show_bug.cgi?id=544474

[2019-05-07 11:16] vogella opened #81 "Floating Text widget not usable on Linux"
The Floating Text Widget was created via #11 I just clone the repo and executed FloatingTextSnippet and here is the result:

![image](https://user-images.githubusercontent.com/139910/57295179-3ff16480-70ca-11e9-9403-65cc47fd8fde.png)

This looks wrong.

[2019-05-07 14:08] wimjongman commented on #81
Thanks, I will take a look.

[2019-05-08 12:26] vogella commented on #81
Thanks, Wim.

On Tue, May 7, 2019 at 4:08 PM Wim Jongman <notifications@github.com> wrote:

--
Eclipse Platform project co-lead
CEO vogella GmbH

Haindaalwisch 17a, 22395 Hamburg
Amtsgericht Hamburg: HRB 127058
Geschäftsführer: Lars Vogel, Jennifer Nerlich de Vogel
USt-IdNr.: DE284122352
Fax (040) 5247 6322, Email: lars.vogel@vogella.com, Web:
http://www.vogella.com

[2019-05-08 13:59] wimjongman commented on #81
This is what I see when running on Linux Ubuntu 18.0.4. Far from perfect but no artifacts.

![image](https://user-images.githubusercontent.com/180969/57380957-4eaf4880-71aa-11e9-99ef-5d1aa0415111.png)

[2019-05-08 14:09] vogella commented on #81
I'm using Ubuntu 19.04 but I guess this can be related to my low
screenresolution.

Can you try with 1152x864 screen resolution?

On Wed, May 8, 2019 at 3:59 PM Wim Jongman <notifications@github.com> wrote:

--
Eclipse Platform project co-lead
CEO vogella GmbH

Haindaalwisch 17a, 22395 Hamburg
Amtsgericht Hamburg: HRB 127058
Geschäftsführer: Lars Vogel, Jennifer Nerlich de Vogel
USt-IdNr.: DE28412

[2019-12-04 08:48] vogella commented on #81
@wimjongman did you try this again?

[2019-12-04 09:01] vogella opened #192 "Notifier examples look bad on Linux"
See screenshot

![image](https://user-images.githubusercontent.com/139910/70128373-f88d7f80-167c-11ea-84a8-333f0eee9eab.png)

[2019-12-09 18:03] lcaron commented on #192
Hi Lars
I"ve tried on Fedora with OpenJDK 11, and I could not reproduce this problem. Can you give me your configuration ?
Laurent

[2019-12-17 17:26] JackPGreen opened #194 "GeoMap - WMTS / WMS Support"
Is it possible to add WMTS / WMS support to this map view?

[2019-12-17 17:48] JackPGreen opened #195 "GeoMap - Thread Safety"
The Map Cache is backed by a LinkedHashMap which is neither thread safe, or accessed in a synchronised way. I haven't seen this cause a specific problem, but it would seem likely that there is some effect of this.

[2019-12-17 17:51] JackPGreen opened #196 "GeoMap - Concurrency Issues"
If you set the map cache size to a low value (e.g. 0, 1, 5 etc), the map tiles do not load.

If you add a Thread.sleep to the paintTile method, they then work again.

This suggests that it's not the cache size that's the problem, but some kind of race condition where if something happens too quickly, it breaks. My suspicion is that it's drawing the picture before the image has actually loaded.

[2019-12-17 19:42] wimjongman commented on #196
Hey Jack. Are you able to provide patches? We would love to see someone take this widget to the next level.

[2020-01-05 15:27] lcaron commented on #194
Jack, we are not expert in the GIS but you seem to be ;)
Can you handle this subject ? We can help you if you want.

[2020-01-05 15:33] lcaron commented on #192
Hi Lars
I've made a modification, can you tell me if it is better now ?
Thanks,
Laurent

[2020-01-05 16:37] lcaron commented on #195
Bug fixed in Nebula 2.4.0

[2020-01-05 16:37] #195 closed, assigned to nobody

[2020-01-05 16:46] JackPGreen commented on #194
Thanks for the your confidence but unfortunately it’s misplaced.

[2020-01-05 18:26] lcaron commented on #194
Ok sorry of that. Maybe you have link that can help us ?

[2020-01-05 20:09] JackPGreen commented on #196
Unfortunately I am not sure what the problem is so I am not able to suggest a fix. Sorry.

[2020-01-05 20:32] lcaron commented on #196
Jack,
I had a look. The cache has a "_cleaning method_" that remove old elements so the cache size is always lower or equals to the initial size.

When the initial size is too little (let say 1 element), when a tile is displayed one element is added to the cache... and the previous one is erased, and will not be drawed once the element is loaded.

To fix this problem we should forbid developers to

[2020-01-05 20:46] lcaron commented on #196
Problem fixed. If the initial size is lower than 200 (arbitrary value) an exception is thrown

[2020-01-05 20:46] #196 closed, assigned to nobody

[2020-01-05 20:48] lcaron commented on #192
Please reopen it if necessary

[2020-01-05 20:48] #192 closed, assigned to nobody

[2020-01-05 20:59] lcaron commented on #81
Lars
Hi checked on Fedora with you resolution, but it works fine :'(

I suggest you to have a look at the FloatingText class, method doSetLabelText line 283
`FontData[] fontData = fLabel.getFont().getFontData();
FontData[] newFontData = new FontData[fontData.length];
int height = fLabel.getSize().y - 2 - (fLabel.getBorderWidth() * 2);
height = height > 0 ? height : 2;
height = (int) Math.round(hei

[2020-02-11 13:46] Filterer opened #212 "Make the text widget gray when the multichoice is not editable"
Our users are trying to type in the text field but its not writable while the text color is white so its a bit confusing. It would be nice when the multichoice is read-only to make the text also gray just like when you use the setEditable method to false on a text or combo widget.

[2020-02-11 14:34] lcaron commented on #212
Hi
I'm gonna have a look on it, can you please provide a snippet that reproduces the problem ?
Laurent

[2020-02-11 15:04] Filterer commented on #212
Thanks for the fast answer. I would like the multichoice widget to have the setEditable method available just like the Text class has it, if you don't want to expose the text of the multichoice itself.

![multichoice example](https://user-images.githubusercontent.com/29089566/74248005-3cd57580-4ce7-11ea-9cab-1d6a96950b8b.jpg)

In this example, the object type multichoice should look like the label

[2020-02-12 07:38] lcaron commented on #212
To keep tracking, I've filled a bug in Bugzilla : https://bugs.eclipse.org/bugs/show_bug.cgi?id=560043

[2020-02-12 08:53] lcaron commented on #212
This bug is now fixed : the method `setEditable()` has been added, and when the widget is not enabled the look is the same as your screenshot.

Thank you for reporting this feature.

[2020-02-12 08:53] #212 closed, assigned to nobody

[2020-02-12 09:58] lcaron commented on #9
Close this bug because I think it is concerning SWT/JFace and not Nebula.
Ian, you can reopen this bug if necessary.

[2020-02-12 09:58] #9 closed, assigned to nobody

[2020-02-12 11:28] Filterer commented on #212
Thank you for the fast fix and for the nice widget :)

[2020-02-12 12:30] lcaron commented on #212
Thank you for reporting and using Multichoice ;)

[2020-03-05 13:53] JackPGreen opened #218 "GeoMap - Zoom listener fired before MapPosition has been updated"
In `GeoMapUtil.zoomOut`, `geoMap.setZoom` is called, which updates the zoom level and then calls `fireZoomChanged()`, which causes the listeners to respond to a change in the zoom.

The problem is that the map position is only updated in `GeoMapUtil.zoomOut` after the `geoMap.setZoom` call - which means any listeners responding to the zoom change will be using an outdated map position.

I think in

[2020-03-05 16:55] wimjongman commented on #218
Sounds great. Do you care to make that change, test it and then file pull request?

[2020-03-05 22:46] JackPGreen commented on #218
Hi,

I've raised a pull request for the above change.

[2020-03-06 09:20] wimjongman commented on #218
Tracked by: [Bug 560841](https://bugs.eclipse.org/bugs/show_bug.cgi?id=560841) - GeoMap - Zoom listener fired before MapPosition has been updated

[2020-03-10 07:44] #218 closed, assigned to nobody

[2020-04-01 13:50] ConradGroth opened #231 "Notifier widget leaks one image per instance"
For every Notifier instance there's one Image created (in line 211) which isn't disposed.
![image leak in notifier widget](https://user-images.githubusercontent.com/22416421/78144805-62057b00-7430-11ea-829e-712079c4f379.png)

To verify, import the org.eclipse.swt.tools.spies project and add the following lines to the NotifierSnippet:
[code]

[2020-04-01 13:58] ConradGroth commented on #231
See also https://bugs.eclipse.org/bugs/show_bug.cgi?id=561648

I cannot push my change to github (access denied). But the fix is easy, just add the following line after line 233:
`SWTGraphicUtil.addDisposer(shell, newImage);`

[2020-04-09 15:28] wimjongman commented on #231
Conrad let's get you set up. You need to fork the repository.

![image](https://user-images.githubusercontent.com/180969/78912035-6b719180-7a87-11ea-9107-20f359cc123f.png)

Then you can make a new branch in your clone and make a pull request. Let me know if you need more help.

Thanks!!

[2020-04-17 07:20] lcaron commented on #231
Patch merged today, thank you Conrad !

[2020-04-17 07:20] #231 closed, assigned to nobody

[2020-07-22 12:40] JackPGreen opened #241 "GeoMap - Specify a Minimum Zoom Level"
In org.eclipse.nebula.widgets.geomap.TileServer, a maximum zoom level is specified.

Some Tile Servers - e.g. Ordnance Survey's Maps API - specify a minimum zoom level, too - https://osdatahub.os.uk/docs/wmts/technicalSpecification

Currently the minimum zoom level is hard-coded to 0.

I think this should be dynamic.

[2020-07-22 12:53] wimjongman commented on #241
I agree. That would be a nice feature.

[2020-08-14 21:49] borlander opened #248 "RoundedSwitch does not notify SelectionListener's on changes"
Sorry if I missed something, but I believe that the new RoundedSwitch lacks the code that actually broadcasts the selection event.

see https://github.com/eclipse/nebula/blob/080ffe8d04f416f0bcff6e66876627f7836645d3/widgets/roundedswitch/org.eclipse.nebula.widgets.roundedswitch/src/org/eclipse/nebula/widgets/roundedswitch/RoundedSwitch.java#L377

[2020-08-16 10:58] lcaron commented on #248
Hi

OMG !!! You are totally right. I've opened the bug
https://bugs.eclipse.org/bugs/show_bug.cgi?id=566102

I'm gonna fix it today

Thank you for your feedback,

Laurent

Le ven. 14 août 2020 à 23:49, borlander <notifications@github.com> a écrit :

[2020-08-16 12:39] lcaron commented on #248
This problem has been fixed.

Have a nice day,

Laurent

Le dim. 16 août 2020 à 12:58, Laurent Caron <laurent.caron@gmail.com> a
écrit :

[2020-08-20 04:56] edward-k-francis opened #250 "VControl does not use SvgDocument to computeSize"
If a VControl only contains a SvgDocument the size is only 2x2 (plus margins) instead of using the width/height or viewBox of the SvgDocument.

[2020-08-20 09:24] lcaron commented on #250
Hi,

Can you please provide a snippet with a sample svg file ?

Thank you

Le jeu. 20 août 2020 à 06:56, edward-k-francis <notifications@github.com> a
écrit :

[2020-08-20 18:48] edward-k-francis commented on #250
@lcaron, here is a snippet of code where the computeSize of the canvas is too small for the Svg image.
[caretLeft.zip](https://github.com/eclipse/nebula/files/5104903/caretLeft.zip)

[code]

[2020-08-20 18:54] edward-k-francis opened #251 "Bug 567735 - SvgLoader's parsePathData does not handle multi-valued commands"
According to the SVG specification (https://svgwg.org/specs/paths/#PathData), the path data for all commands could have multiple values.  For example, when drawing a line:

The current method ignores any additional coordinate pairs.  The multi-values are applicable to all commands except 'Z' ('z') and 'A' ('a').  'M' ('m") is a special case and any additional coordinate pairs should be treated as

[2020-08-21 03:06] edward-k-francis commented on #251
I've forked the code and have put a code change in a branch of the fork if you would like to look at it.

[2020-08-23 18:23] lcaron commented on #250
Hi,

Thank you for giving this information, I'll have a look !

Laurent

Le jeu. 20 août 2020 à 20:48, edward-k-francis <notifications@github.com> a
écrit :

[2020-08-23 18:25] lcaron commented on #251
Sure edward !

Please create a PR and I'll have a look.

Laurent

[2020-08-23 18:25] #248 closed, assigned to nobody

[2020-08-23 18:28] lcaron commented on #241
Jack I've reviewed the commit, and it is ok for me. Can you please create a Pull Request ?

[2020-08-23 20:51] JackPGreen commented on #241
@lcaron

See https://github.com/eclipse/nebula/pull/242

[2020-08-24 04:56] edward-k-francis commented on #251
@lcaron, PR has been created.

[2020-08-29 11:04] lcaron commented on #251
Hi
Your PR is OK for me. In order to merge it, you have to sign the Eclipse Contributor Agreement by creating a new account :
[](https://accounts.eclipse.org/user/register)

Please inform us when it's done.

Laurent

[2020-08-29 12:33] lcaron commented on #250
I've also created a bug in Bugzilla : https://bugs.eclipse.org/bugs/show_bug.cgi?id=566500

[2020-08-29 14:13] wimjongman commented on #241
@JackPGreen Jack there are some issues with the PR. Can you please rebase?

[2020-08-31 19:53] edward-k-francis opened #256 "SvgLoader does not handle relative points correctly for Bézier commands"
According to the specification all points within a relative Bézier command (e.g. 'c','s','q','t'), are all relative to the current point.

Currently the code makes each point of the Bézier command relative to the last two values added including those from the current command.

[2020-08-31 20:33] edward-k-francis commented on #256
PR created.

[2020-09-01 07:15] wimjongman commented on #251
I don't think SVG support is a first-class citizen in Nebula at the moment. It seems hidden inside cwt which was meant to be a common set of graphic tools for all widgets. Some widgets use cwt but most widgets don't.

Is it an idea to pull svg support out of cwt and into its own widget? @edward-k-francis is this something you would be interested in working on?

[2020-09-01 15:23] edward-k-francis commented on #251
I would be interested. Are you thinking that the svg package becomes some sort of library project that could be consumed by more than just Nebula?

[2020-09-01 16:43] wimjongman commented on #251
Yes, exactly. I filed a Bugzilla [1] where we can discuss the approach and requirements. Did you read the contribution guide? If not then maybe this is a good time [2] :)

[1] https://bugs.eclipse.org/bugs/show_bug.cgi?id=566565
[2] https://wiki.eclipse.org/Nebula/Contributions

[2020-09-28 08:43] vogella opened #265 "Nebula PreferenceWindow should use action orientated button instead of OK and Cancel"
PreferenceWindow#buildButtons uses Ok and Cancel. Maybe these default text value coudl be "Apply" or "Close" or "Apply and Close" for the OK button?

[2020-09-28 08:48] lcaron commented on #265
Very good idea, I'll work on it !

[2020-09-28 08:51] vogella opened #266 "Preference Window opens on wrong screen"
I think it is better if the preference window opens on the same screen as the running application. Currently it seems to use the laptop (I guess the primary screen) and not the screen on which my application is running.

Looks like this is done in SWTGraphicUtil in PreferenceWindow#openShell

[2020-09-28 08:52] vogella commented on #265
Cool. Thanks

[2020-09-28 08:59] lcaron commented on #266
You're totally wright, I'll work on it

[2020-09-28 09:33] vogella commented on #266
Thanks!

[2020-09-30 12:31] Bauer-David opened #267 "PWFontChooser does not show font information at initialization"
I try to use the FontChooser in my PreferenceWindow, but it doesn't display the value bound to the property key.

https://github.com/eclipse/nebula/blob/f8ea050c83a78e58255076c97d7d66c007ae3327/widgets/opal/preferencewindow/org.eclipse.nebula.widgets.opal.preferencewindow/src/org/eclipse/nebula/widgets/opal/preferencewindow/widgets/PWFontChooser.java#L71

in the referenced line, the following code

[2020-09-30 20:16] lcaron commented on #267
This bug has been fixed in the next release of Nebula.
Thank you @BADMinova for the fix !

[2020-09-30 20:16] #267 closed, assigned to nobody

[2020-09-30 20:16] lcaron commented on #265
This bug has been fixed in the next release of Nebula.

Thank you Lars for the suggest !

[2020-09-30 20:16] #265 closed, assigned to nobody

[2020-09-30 20:17] lcaron commented on #266
This bug should have been fixed in the next release of Nebula.

@vogella I've just one monitor, can you please tell me if it is ok ?

[2020-09-30 20:17] #266 closed, assigned to nobody

[2020-10-08 21:02] #251 closed, assigned to nobody

[2020-10-08 21:03] #256 closed, assigned to nobody

[2020-10-20 16:37] wimjongman commented on #250
@edward-k-francis Edward, can you also supply a patch for this?

[2020-10-20 16:42] wimjongman opened #272 "Bug 566565 - Extend SVG support to Nebula"
Currently, the Nebula SVG support is inside the CWT project.  We would like to pull out SVG support into its own project.

[2020-10-20 16:59] vicenrico opened #273 "Error with openjdk 11.0.8"
Added only this line after the main view creation:

`Dialog.inform("Loading", "Test");`

This is the error:
[code]

[2020-10-20 17:48] wimjongman commented on #273
It looks like you are using an older version of opal commons. Please update to the latest Nebula. If the issues persists please add a snippet that reproduces the issue.

[2020-11-01 14:49] lcaron commented on #250
Bug fixed in Nebula 2.5.0

[2020-11-01 14:49] #250 closed, assigned to nobody

[2020-11-01 15:02] lcaron commented on #273
Hi
I just tried the dialog snippets with JDK 13 without problem. Can you try with a recent release and give us more information ?

[2020-11-01 15:14] vicenrico commented on #273
Sorry for the delay. As wimjongman suggested, I was using an older version of opal commons. I don't know why, because I though it was the last version, but it wasn't. Now it's working fine, thanks!!!

[2020-11-01 15:14] #273 closed, assigned to nobody

[2020-11-09 16:01] vogella opened #279 "Add update site to Readme.md"
Can you add https://www.eclipse.org/nebula/downloads.php to your Readme.md? This would make it easier to find the update sites...

[2020-11-09 16:51] vogella commented on #81
Sorry for the long, long, long delay in response. Just retested and it looks great on Linux these days.

Thanks!

[2020-11-09 16:51] #81 closed, assigned to nobody

[2020-11-09 16:57] wimjongman commented on #81
Thanks for the feedback, Lars.

[2020-11-14 07:53] ceugster opened #280 "CDateTime NullPointerException when setting foreground color"
When I try to set the foreground color of a CDateTime widget, I get a NullPointerException. The Exception is thrown at following point in the CDateTime class:

`	public void setForeground(Color color) {
		super.setForeground(color);
		picker.updateColorsAndFont();
	}
`
The CDateTime widget is instantiated as follows:

`			CDateTime dateTime = new CDateTime(composite, fieldIdentifier.styles());

[2020-11-14 09:44] lcaron commented on #280
Hi Christian

This bug was know and fixed in Nebula 2.4.2 - please check https://github.com/eclipse/nebula/blob/257222bde16642b7668c465209a55fbf2629dc1a/widgets/cdatetime/org.eclipse.nebula.widgets.cdatetime/src/org/eclipse/nebula/widgets/cdatetime/CDateTime.java#L2258
https://github.com/eclipse/nebula/blob/257222bde16642b7668c465209a55fbf2629dc1a/widgets/cdatetime/org.eclipse.nebula.widgets.cdate

[2020-11-14 09:52] lcaron commented on #279
Readme.md page has been updated.

Thank you Lars for the feedback.

[2020-11-14 09:52] #279 closed, assigned to nobody

[2020-11-15 20:17] ceugster commented on #280
Hi Caron
Thank your for the fast answer. I did not find any information in the eclipse forum.
Best wishes Christian

[2020-11-16 11:52] lcaron commented on #280
Hi Christian,

Did you tried with the latest release of Nebula ?

[2020-11-18 15:14] vogella opened #281 "PasswordRevealer cannot be used as drop-in replacement for Text widgets"
I tried using PasswordRevealer  as drop-in replacement for a text field but it seems to have confuse the layout:

Original:
Text password = new Text(container, SWT.BORDER | SWT.PASSWORD);
Text password.setLayoutData(GridDataFactory.fillDefaults().hint(130, SWT.DEFAULT).span(2, 1).create());.

![label](https://user-images.githubusercontent.com/139910/99548399-e6edd680-29b8-11eb-94c3-34a56fe6ae68.PN

[2020-11-21 10:35] lcaron commented on #281
Hi Lars

I fixed my code and my tests are OK. Can you tell me if it is better ?

[2020-11-25 09:14] vogella commented on #281
Thanks, Laurent. Behavior is much better. I see other issues but I open new bugs for these.

[2020-11-25 09:14] #281 closed, assigned to nobody

[2020-11-25 09:15] vogella opened #284 "PasswordRevealer - Button has background"
If possible the background of the PWR should be transparent, otherwise it looks strange.

![image](https://user-images.githubusercontent.com/139910/100206809-1778c780-2f07-11eb-8673-a890310b5926.png)

[2020-11-25 09:18] vogella opened #285 "PasswordRevealer Option to show pw after mouse click without holding the mouse"
AFAICS the PasswordRevealer  shows only the PW if the user continues to hold the mouse button. I think most websites react differently. If you select "Show password" it shows the PW until the user selects this option again.

Can this also be provided by PasswordRevealer? Maybe even as default as I think this is what the user expects (I might be wrong here).

[2020-11-25 09:23] lcaron commented on #281
Great news, I'll fix other issues ASAP

[2020-11-25 20:46] MrTimbones opened #286 "Grid inside Scrollable Composite draws outside its bounds on Linux GTK"
When a Grid is placed inside of a ScrollableComposite, then the grid contents are sometimes rendered outside of the area of the scrollable. This is most noticeable on the initial creation, and when resizing the entire window. Scrolling the grid stays within the bounds, but leaves a mess outside of the scrollable.

![ScrollableGridTest-issue](https://user-images.githubusercontent.com/75039652/10026

[2020-11-25 22:16] wimjongman commented on #286
It looks like you know what you are doing, Tim. Please provide a pull request if you can.

[2020-11-27 18:35] #286 closed, assigned to nobody

[2020-11-27 18:37] lcaron commented on #286
The Pull Request has been merged. Thank you very much Tim for you analysis and fix.

[2020-11-27 21:48] MrTimbones commented on #286
Thank you for merging quickly, much appreciated.

[2020-11-28 11:51] wimjongman commented on #286
Did someone test this on Windows/Mac?

[2020-11-28 12:12] lcaron commented on #286
I did on Windows 10 (with Eclipse Oxygen and 2020-09) and MacOSX Big Sur (Eclipse 2020-09), that's why I closed the bug

[2020-11-28 12:47] MrTimbones commented on #286
I have tested both my test program and my application with org.eclipse.nebula.widgets.grid_1.1.0.202011271839.jar on Ubuntu 18.04.5 and Windows 10, and it's working well. Thanks.

[2020-11-28 17:54] lcaron commented on #285
Hi Lars

You're totally right: the PasswordRevealer mimics the behaviour of the login page on Windows. It is a good idea to let the developper choose the way password is revealed (on press or like a radio button)

[2020-11-28 19:09] lcaron commented on #284
Lars, can you please post the code of this composite ?

[2020-11-30 08:52] wimjongman commented on #286
Awesome! Thanks, Laurent. I should not have asked :) 👍

[2020-11-30 08:56] wimjongman commented on #286
Thanks, Tim!! We are looking forward to seeing more from you! Congratulations on your first Eclipse/Github commit. The Grid is a very popular widget so your code will be running in a lot of applications.

The latest snapshot can be downloaded here:

https://download.eclipse.org/nebula/snapshot/

[2020-12-03 10:40] vogella opened #289 "FloatingText should allow putting the hint into a group"
I would be great if FloatingText also supports the "group" usage on the right hand side of the Android UX guidelines.

![image](https://user-images.githubusercontent.com/139910/100998906-66a0a700-355c-11eb-8089-0054127a296c.png)

See https://material.io/components/text-fields#theming for the full guide.

[2020-12-06 18:38] jolkdarr opened #290 "TextAssist widget is not useable"
Hi

The popup window appears fleetingly and is quickly closed.
I tried the provided snippet. The same result is observed.

Environment: Linux, GTK3.

[2020-12-20 11:11] lcaron commented on #290
Bonjour

I've fixed this problem, it will be available in the next _nightly build_  : http://download.eclipse.org/nebula/snapshot

Thank you for your feedback,

Laurent

[2020-12-20 11:13] #290 closed, assigned to nobody

[2020-12-26 14:03] jolkdarr commented on #290
Good news! 🎅
Thanks for the quick fix. 🎁

[2020-12-28 15:33] laeubi opened #293 "Invalid NPE check in SWTGraphicUtil.getBoundsOfMonitorOnWhichShellIsDisplayed(Shell)"
The shell is accessed in the first line, after that it is checked for null what will never be true as NPE will occur in the first line already.

[code]

proposed change

[code]

[2020-12-28 15:43] laeubi opened #294 "org.eclipse.nebula.widgets.opal.dialog.Dialog.center() should fall back to provided shell"
org.eclipse.nebula.widgets.opal.dialog.Dialog.center() has the following code

[code]
This will fail if there is no active shell (e.g. application does not has focus). If there is no actie shell, it would be the best to use the dialog shell...

[2020-12-28 18:36] wimjongman commented on #293
Yes, please create a PR. Also, update the @param description to indicate that null is not allowed.

[2020-12-29 10:33] lcaron commented on #294
Bug fixed in the next release if Nebula (nightly & stable)
https://github.com/eclipse/nebula/pull/295

[2020-12-29 10:33] #294 closed, assigned to nobody

[2020-12-29 10:49] lcaron commented on #293
Bug fixed in the next release if Nebula (nightly & stable)

Instead of using Objects, I check if shell is null and in this case I use SWT.error(SWT.ERROR_NULL_ARGUMENT)

https://github.com/eclipse/nebula/pull/296

[2020-12-29 10:49] #293 closed, assigned to nobody

[2020-12-29 10:50] #280 closed, assigned to nobody

[2020-12-29 10:52] lcaron commented on #284
Bug fixed in the latest release of Nebula (nightly and stable)

[2020-12-29 10:52] #284 closed, assigned to nobody

[2020-12-29 18:35] lcaron commented on #285
Lars,

The behaviour you asked can be implemented by using the flag SWT.PUSH.
I've also updated the documentation.

[2020-12-29 18:35] #285 closed, assigned to nobody

[2020-12-29 19:26] lcaron commented on #241
Bug fixed, thanks to @JackPGreen for the patch !

[2020-12-29 19:26] #241 closed, assigned to nobody

[2020-12-29 19:27] lcaron commented on #15
2 years after, I have no simple answer, so I've decided to close this issue

[2020-12-29 19:27] #15 closed, assigned to lcaron

[2020-12-29 19:30] JackPGreen commented on #241
And thanks @lcaron for the merge 👍

[2021-01-06 13:15] vogella commented on #285
Thanks you

[2021-02-01 10:30] videgro opened #299 "Widget org.eclipse.nebula.widgets.passwordrevealer.PasswordRevealer is not supported for Eclipse databinding"
**Trying to bind the PasswordRevealer to a data model will result in a 'not supported' error.**

### Example code

[code]

### Will result in error

[code]

### Solution
1) Please make this widget compatible to bind like a normal Text widget OR
2) Give directions/example code how to create a data binding between this widget and a data model

[2021-02-02 09:28] wimjongman commented on #299
Hey @videgro, thanks for the report. The widget is not a Text but a Composite. You have to define it differently in data-binding. Please invest some time finding out how to bind something else but a text.

You have to use another strategy instead of WidgetProperties.text, maybe you can use beanproperty or else pojoproperty.

Let us know how you finally did it.

[2021-02-20 19:03] laeubi opened #300 "Inverted selection behaviour of SwitchButton"
The description [on the example page](https://wiki.eclipse.org/Nebula_SwitchButton) says:

but one need to call SwitchButton.setSelection(true) to have a button that is off...  that's not very intuitive and the opposite what a checkbox behaves...

[2021-02-21 05:46] laeubi commented on #300
Another issue is, that when one calls SwitchButton.setSelection(...) one also need to trigger a redraw manually. This is a problem for every setter but becomes most prominent here. e.g. if the button can be switched on/of by a shortcut.

[2021-02-21 06:26] laeubi commented on #300
Another observation:
When the event is fired because the user clicks on the button it returns the "previous" state that reverses the logic again and it seems "right" as a first place.

E.g. button is OFF, user clicks on the button.
If I print the button state from the click handler I call getSelection() the result is 'true', if I sometimes later call getSelection() (without any changes) the result

[2021-02-21 20:27] wimjongman commented on #300
Thanks for reporting, Christopher. I think these are valid complaints. Are you able to supply a patch?

[2021-03-08 14:28] lcaron commented on #300
Hi Christoph,

I'll work on this topic this week

Laurent

[2021-03-13 14:12] lcaron commented on #300
You're totally right this is not user-friendly nor logical. This problem is fixed

Problem fixed fo all setters

This problem has been fixed too

[2021-03-13 14:20] lcaron commented on #300
Bug fixed with PR https://github.com/eclipse/nebula/pull/302

[2021-03-13 14:20] #300 closed, assigned to nobody

[2021-03-13 15:08] laeubi commented on #300
Many thanks for the fix!

[2021-03-16 07:09] laeubi opened #304 "Grid.onPaint is ineffient on large grids (> 30.000 columns)"
I encounter a large performance penalty when using a large Grid but only a small portion is visible.

From a quick debugging it seems (I was not able to profile it or try different strategies) that the Grid is computing a lot of values unnecessarily, for example the following code:

[code]

As one can see if the (final) value is higher than the bounds it is discarded so it seems suitable to break

[2021-03-16 07:17] fipro78 commented on #304
I'm not sure about the performance of Grid. IIRC it has similar performance issues as the JFace table. For such large datasets you might want to consider NatTable, which was actually designed for handling large datasets.

[2021-03-16 13:17] wimjongman commented on #304
You, mean a large grid with lots of columns or with a lot of entries?

For a large number of entries, you might want to consider [SWT.VIRTUAL](https://www.eclipse.org/articles/Article-SWT-Virtual/Virtual-in-SWT.html)

Then, a more philosophical question is; what is the use of a large grid? Is the user actually going to scroll to 30k rows of data? We never show more than 500 rows but we focus more

[2021-03-16 14:16] laeubi commented on #304
@wimjongman I'm using GridTableViewer but I don't think from the source that it supports something like "Vitual" the Grid class is just a canvas with custom painting.
I'm aware of XViewer and NatTable but has used Grid as a more lightweight aproach before, so would you suggest that Nebula Grid is actually not supported/deprecated?

The large grid is currently used to show a large tabular data to t

[2021-03-16 14:29] tomsontom commented on #304
would it then maybe make sense to swap x/y in your dataset? We could provide the user an API to compute sizes themselves to speed things up. Another interesting thing is that we report the current visible range to the user so one does not have to have all data in memory, ... .

[2021-03-16 14:39] laeubi commented on #304
@tomsontom The user expect the data in this format (that's one reason why I can't use a traditional TableViewer) memory on the other hand is not really a concern for me here but sure would be interesting also.

What would be needed here I think would be that at the Grid keeps track of rows **and** columns visible. Also it should cache computed data (width/height) as much as possible (e.g. if the t

[2021-03-16 15:06] wimjongman commented on #304
[It does support it](https://github.com/eclipse/nebula/commit/3b177b680044f8b1f96c2274b4307b858f46ea17#diff-e8dbc74f64d8a3a7109759b26453a58dc4b7ae5635fec26f300bdacc3ee71c44). But this is for row count, not for columns.

It is very stable but we have casual supporters for it. We just wanted to point out your options.

Please contribute. Add Tom and me as reviewers when done.

[2021-03-19 07:52] remipannequin opened #306 "There is a large zoom gap betwwen hours and minutes in GanttChart"
In the GanttChart widget, there is a large gap between ZOOM_HOUR_MAX (value 0) and ZOOM_MINUTES_NORMAL (value -1). On my screen, it goes from a width of about 11 hours to 10 minutes. Making impossible to correctly focus on data spanning e.g. 1 hours.

Looking at the code in `GanttComposite.updateZoomLevel()`, we see that the "day" width is reduced, but what a "day" represent is also changed (hour

[2021-03-19 13:03] wimjongman commented on #306
Thanks for the report, Remi. Are you able to supply a PR to fix it?

[2021-03-22 15:00] remipannequin commented on #306
Yes I think I could make a PR eventually (maybe in a few weeks)... I already have a (unsatisfactory) workaround in my code, which basically change the day_width (in the settings).

I think that the less intrusive way to fix this is to keep the same zoom levels, but change the day_width multiplicative factor for them.

[2021-03-22 16:36] wimjongman commented on #306
Lovely, thanks! Let us know if you need help.

That sounds like a good solution.

[2021-03-27 18:33] laeubi opened #308 "Support multiple columns for TableCombo text"
Currently one needs to select one column that is responsible for display the text.
It would be good to have an alternative so the user has more control, I can think about the following things:

1. Support setting a Function<Object, String>, ToIntFunction<String> to perform conversion Object>String and int>String
2. Allow to set the column to -1 that results in simply concatenate all column text wi

[2021-03-27 18:36] laeubi opened #309 "Disabled TableCombo does not looks "disabled" enought"
If one disables a TableCombo the arrow is grayed out, but the border + text background remains the same and the text stays black.

It would be better for the user if the control is more visually "disabled", eg using SWT.COLOR_WIDGET_DISABLED_FOREGROUND, a different border color and so on.

[2021-03-27 18:39] laeubi opened #310 "If TableCombo is opened the first time after input change it is too small"
1. Create a TableCombo and set it to disabled
2. set one item to it
4. set two items and enable it
5. open it -> appears to small (with scrollbars)
6. open it again --> looks fine

[2021-03-28 09:55] laeubi opened #311 "TableCombo Readonly shows text selected all the time"
I have a TableCombo and set it to readonly, now the text is always  painted "selected" when I choose a value from the drop down.

[2021-03-31 09:58] lcaron commented on #311
Christoph,

I'm currently working on a huge Windowbuilder bug, but I'll work on TableCombo subjects next week

[2021-03-31 10:00] laeubi commented on #311
No problem, I'm just dropping things here that came into my mind so I don't loose it, no need to worry.

[2021-03-31 12:32] vogella opened #313 "PreferenceWindow flickers if opened"
The 	SWTGraphicUtil.centerShell(shell); centeres the shell, after opening it hence a smaller flickering is seen.
Maybe center it before opening i?

In PreferenceWindow.java:

	 * Open the shell
	 */
	private void openShell() {
		shell.pack();
		shell.open();
		SWTGraphicUtil.centerShell(shell);

		while (!shell.isDisposed()) {
			if (!shell.getDisplay().readAndDispatch()) {
				shell.getDisplay().

[2021-03-31 13:11] wimjongman commented on #313
Looks like a small change. Can you supply a patch?

[2021-03-31 14:59] ikus060 opened #314 "PrintPreview display blank page"
I have an issue with the PrintPreview. On one specific computer, the preview is always blank. I've tried to run the Snippet7 and Snippet3 and the preview is always blank. Trying the same snippet on another computer is working perfectly fine.

Was this problem ever reported and how to debug / fix this problem.

I'm using v2.1.0.202011020719, on windows.

![Screenshot from 2021-03-31 10-49-15](https

[2021-03-31 18:02] wimjongman commented on #314
Patrick, is there anything in the console? Why are the icon texts showing the file names?

[2021-04-01 11:42] ikus060 commented on #314
@wimjongman For my test, I've change the button creation to display test instead of image to simplify the execution.
I don't see anything getting send to the console.
BTW, when I'm printing to a real printer, the document get printed.

[2021-04-01 12:31] Bauer-David opened #315 "TextAssist Arithmetic Exception"
If you press the arrow key down without entering anything beforehand, Java throws an ArithmeticException. If you type something in and then delete it again, Java won't throw the exception.

<img width="585" alt="Bildschirmfoto 2021-04-01 um 13 16 45" src="https://user-images.githubusercontent.com/61147549/113287317-b6666380-92ed-11eb-8fc5-7205488e6413.png">

	at org.eclipse.nebula.widgets.opal.tex

[2021-04-02 15:17] wimjongman commented on #315
Thanks for reporting. Are you able to supply a patch? Please make sure to sign the Eclipse ECA first.
https://www.eclipse.org/legal/ECA.php

[2021-04-02 15:32] wimjongman commented on #311
Please supply a patch, Cristoph. We are a bit understaffed.

[2021-04-02 15:34] wimjongman commented on #308
Christoph, we are happy with all your patches.

[2021-04-02 15:37] wimjongman commented on #299
ping @videgro

[2021-04-03 09:09] lcaron commented on #315
Bug fixed in Nebula 2.5.0, thank you for reporting

[2021-04-03 09:09] #315 closed, assigned to nobody

[2021-04-03 09:09] lcaron commented on #313
Bug fixed in Nebula 2.5.0, thank you for reporting (and the hint ;) )

[2021-04-03 09:09] #313 closed, assigned to nobody

[2021-04-03 09:24] lcaron commented on #311
Bug fixed in Nebula 2.5.0

Thank you for reporting

[2021-04-03 09:24] #311 closed, assigned to nobody

[2021-04-03 09:40] lcaron commented on #310
Christoph,

Can you please post a snippet and a screenshot ?

I tried with the following snippet and I could not reproduce the problem :

[code]

[2021-04-03 09:55] lcaron commented on #309
Look has been changed in Nebula 2.5.0, thanks for reporting

[2021-04-03 09:55] #309 closed, assigned to nobody

[2021-04-03 09:58] lcaron commented on #314
Bonjour Patrick

Can you specify which JDK are you using ?

[2021-04-03 11:31] lcaron commented on #308
Hi Christoph,

I had a look at this request this morning (thanks to quarantine & lockdown).

It is not as easy as it seems : the selected column is responsible for many thing: which text to display, which image to displayn, which presentation (font/foreground color/background color) to display...

So we need 5 functions (one for each purpose), or a class with 5 methods (getText(), getImage(), ...)

[2021-04-03 12:43] laeubi commented on #308
I can imagine that's not that easy if one assumes ALL possibilities and combinations.
What I can think of is that one can supply a labelprovider for the Combo itself so one has tu return one image, one font, one text... that might even looks different from how the column wise rendering looks like if the combo table is open.

[2021-04-03 12:47] laeubi commented on #308
One example might be I want to show a Table of currencies and tax rates that looks like this:

Country | Currency | Tax rate | Total|
DE | € | 19% | 2345,87 €
EN | $ | ...
....

When I selected a column I probably want to show the text field/selection in the following way:

(Flag image of the country) 2345,87 € (19%)

[2021-04-03 14:35] lcaron commented on #308
Interesting, do you have in mind something like
[code]
?

[2021-04-03 15:09] laeubi commented on #308
In code I would think about instead:

`tableColumnViewer.getTableCombo().setDisplayColumnIndex(1);`

id like something like:

`tableColumnViewer.setDisplayColumnRenderer(ILabelProvider);`

the label provider would then just be passed the selected row/item and returns a text/icon

[2021-04-03 15:39] lcaron commented on #308
Ok i'll work on it, and tell you informed when the PR is ready

[2021-04-03 16:52] lcaron commented on #308
Christoph,

Please tell me if it is ok for you : https://github.com/eclipse/nebula/pull/322 ?

Happy Easter

[2021-04-12 13:47] ikus060 commented on #314
Here the JVM version: 1.8.0u201

![image](https://user-images.githubusercontent.com/921251/114404753-ff32dd80-9b73-11eb-8653-cd53a6d76a12.png)

I don't think it's related to the JVM version. I could test on another computer with the same version...

[2021-04-21 13:35] ikus060 commented on #314
Anything special I can do to debug this ? I'm willing to test various thing but I also need some guidance. :D

[2021-04-21 13:39] wimjongman commented on #314
Patrik, we are as clueless as you. There is no logging and it works on of your machines and not on one specific machine. It is very hard to debug.

I see this icon in your toolbar
![image](https://user-images.githubusercontent.com/180969/115563346-b7b8f980-a2b7-11eb-8f07-0007ff785911.png)

What is it?

[2021-04-21 13:49] ikus060 commented on #314
@wimjongman This icon is the software I'm trying to debug. Since I cannot install a IDE on the computer, I've pre-compile the Snippet into the software it self to debug :) That was a quick solution to check if it's related to the software or if it was related to Nebula Paperclips.

Related to logs, Anything special I need to to do to enable Paperclips logging ?

And what is the difference between

[2021-04-21 13:55] wimjongman commented on #314
What happens when you run the snippet normally from the IDE? What happens if you resize/minimize/maximize the window?

[2021-04-21 13:58] wimjongman commented on #314
Related to logs: You have to look in the source for that. We are both looking at the same. 😉

[2021-04-21 14:20] wimjongman commented on #314
When I run the snippets from the IDE I also see blank pages. However, when I print, the data is visible.

[2021-04-21 14:34] ikus060 commented on #314
So you are able to reproduce the problem. It's good news!

On a development machine, I can't. Now I'm wondering why. So I suspect the problem has an environmental source.

[2021-04-21 14:57] ikus060 commented on #314
What version of Java are you running ?

[2021-04-21 15:04] wimjongman commented on #314
I think maybe it is the SWT version. What are the differences between the SWT versions on your machine?

[2021-04-21 15:12] ikus060 commented on #314
Hum, I have the same version on both computer: where the preview is blank and where the preview is working.

org.eclipse.swt.win32.win32.x86_64-3.115.0
org.eclipse.nebula.paperclips.widgets-2.1.0.202011020719
org.eclipse.nebula.paperclips.core-2.1.0.202011020719

I've also tried with:
org.eclipse.nebula.paperclips.widgets-2.0.0.201304181950
org.eclipse.nebula.paperclips.core-2.0.0.201304181950

[2021-05-10 14:26] laeubi opened #327 "Supply a DualListViewer"
The topic alread describe it....

Currently DualList is very basic and requires one to create very special objects (DLItem) to be used. It would be better to see a DualList as a StructuredViewer with

1. a ContentProvider (like ListViewer)
2. a label provider for colors/fonts/icons and so on
3. a "selection" that represent the currently selected items "on the right"
4. a "selection" that represent

[2021-05-10 14:51] laeubi opened #328 "DualList should be configuable"
Currently one can't configure the list, eg:

- allow up/down
- if text should be centered or not ...

[2021-05-10 15:21] laeubi opened #329 "DualList centers text if no image is supplied"
If no image is supplied all text is centered.

[2021-05-10 15:52] laeubi opened #330 "DualList should respect the initial "last selection" value"
Currently one needs to set the items and then call "select" for the indicies.

It would be better if DualList read the intial state from the list of items

[2021-05-15 19:55] JackPGreen opened #333 "GeoMap - InternalGeoMapListener firing before task completed"
The `InternalGeoMapListener` allows listening to the following events:
Tile Painted
Map Painted
Cache Updated

However from my testing, it appears that they do not work correctly, or at least not how I'd expect them to work.

These events are fired from within the `paint` / `paintTile` methods of `GeoMapHelper`.
In the `paintTile` method, a reference to the tile required is created.
The `AsyncImag

[2021-05-15 22:18] JackPGreen commented on #333
On further investigation, it looks like the Listener is being fired both correctly and incorrectly.
I put a Thread.sleep on the URL request so that tiles are never returned, but the Listeners are still fired.
But then they are correctly fired again after the tile has been created.

[2021-05-17 14:29] wimjongman commented on #333
Thanks for reporting, Jack. Are you able to provide a patch?

[2021-05-17 14:30] JackPGreen commented on #333
Sorry, I've not got a solution to this.

[2021-05-19 06:58] ganubyn opened #334 "Possibility to filter CTreeCombo"
Hello All,

We are planning to use CTreeCombo(package :org.eclipse.nebula.widgets.ctreecombo.CTreeCombo). Is there any filter option available to to filter the tree content.
In the provided example I didn't see this use case.
Is it possible ? If it is possible can you share the example ?

[2021-05-19 07:08] lcaron commented on #334
Hi
What do you mean by "filtering" ? Display only elements that match a given pattern ?

Laurent

[2021-05-19 07:11] ganubyn commented on #334
Yes .  For example when we type words and  element matching elements shown.

[2021-06-03 12:06] lcaron commented on #306
Hi Remi

Any news about this request ?

Cheers,
Laurent

[2021-06-03 12:07] lcaron commented on #310
Hi Christoph

Any news about this bug ? Can you please provide a snippet that reproduces the problem ?

Cheers,

Laurent

[2021-06-04 07:11] laeubi commented on #310
Have you tested it under windows or Linux? I have seen this under Linux GTK so maybe a GTK specific problem?
I don't have a standalone snippet yet but can provide you with a screenshot how it looks like.

Opened fist time:
![grafik](https://user-images.githubusercontent.com/1331477/120759993-e6abc780-c513-11eb-9d7a-dda6b53f8802.png)

Close and open again:
![grafik](https://user-images.githubuserco

[2021-06-07 12:41] lcaron commented on #308
Hi Christoph,

Can I have a feedback about the PR 322 please ?

Thanks,

Laurent

[2021-06-08 15:12] lcaron commented on #308
Bug fixed in Nebula 2.5.0

[2021-06-08 15:12] #308 closed, assigned to nobody

[2021-06-08 15:12] lcaron commented on #334
Now, when the CTreeCombo is not read-only, the tree is filtered : when ones clicks on the arrow, the tree contais only entries that match the text typed by the user.

[2021-06-08 15:12] #334 closed, assigned to nobody

[2021-06-08 15:28] lcaron commented on #299
Any news @videgro about this issue ?

[2021-06-08 16:49] lcaron commented on #310
Christoph,

I (hardly) reproduced the problem and fix it. Could cou try and check if my fix works with your example ?

[2021-06-08 16:50] lcaron commented on #314
Hi Patrik,

Any news about this problem ?

[2021-06-08 16:52] lcaron commented on #333
Hi jack,

Can you provide a snippet that reproduces your problem ? I can work on this topic.

[2021-06-08 17:17] lcaron commented on #329
Bug fixed in Nebula 2.5.0

[2021-06-08 17:17] #329 closed, assigned to nobody

[2021-06-09 13:03] lcaron commented on #330
Bug fixed in Nebula 2.5.0. You can choose the selected entries by calling the method `setSelected(true);`

[2021-06-09 13:03] #330 closed, assigned to nobody

[2021-06-12 13:19] lcaron commented on #328
I've introduced the **DLConfiguration** objet that allows you to customize the _DualList_ Widget

[2021-06-12 13:19] #328 closed, assigned to lcaron

[2021-06-18 14:21] lcaron commented on #327
Next release is planned in 2 days, I will run out of time, so I postpone this feature for Nebula 2.6.0

[2021-06-18 14:27] laeubi commented on #327
@lcaron no worries! Thanks for all the effeorts.

[2021-06-19 18:53] #310 closed, assigned to lcaron

[2021-06-25 10:16] lcaron opened #343 "[RichText] Support render link and manage link interaction in RichText"
Copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=511353

[RichText] Support render link and manage link interaction in RichText

[2021-06-25 10:18] lcaron opened #344 "[RichText] Support render image in RichText"
Copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=511111

Render images from local resources and external resources should be supported. External protocols such as http, https, ftp should be supported.

[2021-06-25 10:19] lcaron opened #345 "Simplify dispatcher usage"
Copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=561074

The scope widget is using a subclass-and-override strategy to make the widget behave in different ways.

When the dispatcher is not subclassed, it returns default values that can not be set.

We want the user to set desired values in the scope and the dispatcher will then take the values from the scope instead of returning a default val

[2021-06-25 10:22] lcaron opened #346 "Undo/Redo does not work for panning with mouse wheel"
Copy of : https://bugs.eclipse.org/bugs/show_bug.cgi?id=566595

Overview:
Panning with mouse wheel is not tracked by Undo/Redo.

Steps to reproduce:
1. Assure the current ZoomType is None.
2. Panning with mouse wheel (press mouse wheel and drag to move coordinate system)

Actual Result:
This action is not part of the undo log and thus cannot be undone.

Expected Result:
The panning action can be u

[2021-06-25 10:23] lcaron opened #347 "Labels disappear when Axis size is small"
Copy of : https://bugs.eclipse.org/bugs/show_bug.cgi?id=568376

Overview:
When the height of the Y-Axis is small and setShowMaxLabel/setShowMinLabel is disabled, then there is no label shown although there would be enough space to show even two or three labels.

As shown in the attached Screenshot this problem affects us because we are displaying multiple XY-Graph instances with a small height on

[2021-06-25 10:27] lcaron opened #348 "Resource Leaks (2.5.0)"
Copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=570421

With the Eclipse 4.19 (due march 2021) it is possible to set the following property:

-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=stacks

This will log an entry in the error log for every not correctly disposed of resource.

This bug is a generic bug for those issues fixed in 2.5.0

[2021-06-25 10:30] lcaron opened #349 "Y axis labels wrongly displayed after scaling"
Copy of : https://bugs.eclipse.org/bugs/show_bug.cgi?id=570718

When scaling a chart it sometimes happens that the Y axis labels are displayed wrongly. See attached screenshots

correct axis labels
![XY - correct plot](https://user-images.githubusercontent.com/1170014/123411709-084b1c80-d5b1-11eb-851f-79284cd2b711.png)

broken Y axis labels
![XY - broken y axis labels](https://user-images.githubus

[2021-06-25 10:33] lcaron opened #350 "Set up p2.mirrorsURL property in result sites"
Copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=373059

As per http://dev.eclipse.org/mhonarc/lists/cross-project-issues-dev/msg07400.html

***

 **Johannes Faltermeier**:

 **Johannes Faltermeier**:

[2021-06-25 10:34] lcaron opened #351 "Add loading debug to XViewer"
Copy of : https://bugs.eclipse.org/bugs/show_bug.cgi?id=543316

XViewer loading performance is only as good as the columns can resolve the text for the element shown.  In order to help debug bad-performing columns, need to add debug to display the load time for each column.

[2021-06-25 10:39] lcaron opened #352 "Undo/Redo does not work correctly with Annotation"
Copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=566590

Overview:
After calling "Redo" for the creation of an annotation, the annotation stayes static in the PlotArea when Panning or Zooming.

Steps to reproduce:
1. Create annotation in XYGraph
2. Undo the creation
3. Redo the creation
4. Change the range of either X- or Y-Axis by panning (or Zooming).

Actual Result:
The annotation stayes s

[2021-06-25 10:45] lcaron opened #353 "Extend SVG support to Nebula"
Copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=566565

Nebula currently handles SVG inside the o.e.n.cwt project. We would like to extract these classes into their own project and make the SWT/SVG library as complete as possible.

AFAI could find, there are no real independent SVG implementations for SWT.

* People use Batik to render SVG into an image and then display this image inside an

[2021-06-25 10:46] lcaron commented on #272
All information has been copied to https://github.com/eclipse/nebula/issues/353

[2021-06-25 10:46] #272 closed, assigned to nobody

[2021-06-29 16:48] lcaron opened #354 "Nebula Website Change Requests"
Tracking bug for Nebula website changes

[2021-07-04 17:47] lcaron opened #355 "The toolbar of the date picker in CDateTime cannot be styled using Eclipse CSS"
Copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=572033

Proposal:
- Customize foreground color of the ok button
- Customize foreground color of the cancel button
- Customize foreground color and font of the cancel button

[2021-07-04 20:24] lcaron commented on #355
Bug fixed in Nebula 2.6.0

[2021-07-04 20:24] #355 closed, assigned to nobody

[2021-07-04 20:26] lcaron commented on #299
Any news @videgro about this issue ?

[2021-07-07 14:16] laeubi opened #357 "Add Bundle-License Header to Nebula bundles"
Bundle-License` is a [standard OSGi Header](http://docs.osgi.org/reference/bundle-headers.html), for better compatibility we should add one to each published bundle.

My idea would be to add a [license to the pom](https://maven.apache.org/pom.html#Licenses) this should then be automatically be translated by tycho to the appropriate header.

As far as I know, there is currently no such feature in t

[2021-08-06 16:55] laeubi opened #359 "Launcher schould be more flexible"
currently the launcher is a bit limited/fixed:

- columns are always item.size() / 2
- background is always "white"
- the size of an item is hard coded
- selection always happen on double click

so it would be good if

- items/column could be configured
- the background color can be changed
- it would be possible to configure a custom item size (or even better would adjust to the largest item)
- i

[2021-08-07 18:05] lcaron commented on #359
Interesting idea, i'll work on this for Nebula 2.6.0

[2021-08-12 11:12] rbioteau opened #360 "[RichText][Webkit] Canont load the rich text editor"
It looks like there are asynchronous issues when the rich text editor tries to load itself.
I use a custom configuration. Like this:

[code]

I get the following stack when the `initEditor()` is invoked by the browser

[code]

It works properly on Windows.

GTK versions
[code]

System package version
[code]

Thanks for your help.

[2021-08-12 18:11] lcaron commented on #360
Bonjour Romain

Mmmmm it seems to be an SWT error. Which version of SWT do you use ?

Regards

Laurent

Le jeu. 12 août 2021 à 13:13, Romain Bioteau ***@***.***> a
écrit :

[2021-08-13 10:32] rbioteau commented on #360
Hi Laurent,
It seems that the culprit is `libwebkit2gtk-4.0-37`. After a revert to an older version (`2.28.1-1` instead of `2.32.3-0ubuntu0.20.04.1`) the issue is gone.

I managed to reproduce the issue using the `RichTextEditorExample` and disposing an editor instance like this:

[code]

This fails in `2.32.3` not `2.28.1`.

I don't know what can be done on Nebula side to avoid this.

Thanks for

[2021-08-13 10:34] laeubi commented on #360
AFAIK GTK2 is no longer supported by SWT, you should probably update to a more recent version that uses GTK3

[2021-08-13 13:18] rbioteau commented on #360
I'm using GTK3. It is the webkitgtk lib that is the issue here.

[2021-08-16 13:30] lcaron commented on #360
I do not think that something can be done on Nebula.
Maybe you should get in touch with the SWT Team ?

[2021-08-17 07:07] thomas-covenant opened #361 "eclipse nebula perspective"
i used the nebula perspective to design a combobox table
how can i now use the java source code. could not find a copy / paste or drag it into the windowbuilder designer?

[2021-08-18 07:14] rbioteau commented on #360
I have filled an issue on the [eclipse bugzilla](https://bugs.eclipse.org/bugs/show_bug.cgi?id=575472)

:crossed_fingers:

[2021-08-18 11:45] wimjongman commented on #361
You can't. It does not have that functionality.

[2021-08-18 11:45] #361 closed, assigned to nobody

[2021-08-18 11:46] wimjongman commented on #361
You can use the snippets to get examples.

https://github.com/eclipse/nebula/tree/master/examples/org.eclipse.nebula.snippets/src/org/eclipse/nebula/snippets

[2021-08-18 12:27] vogella opened #362 "Image not disposed in PWTabContainer"
During shutdown Eclipse reports that an image was not dispose.

Tbw. the code looks ok to me, line 117 adds a dispose listener, not sure what is wrong here.

java.lang.Error: SWT Resource was not properly disposed
	at org.eclipse.swt.graphics.Resource.initNonDisposeTracking(Resource.java:172)
	at org.eclipse.swt.graphics.Resource.<init>(Resource.java:120)
	at org.eclipse.swt.graphics.Image.<init>(

[2021-08-18 12:33] laeubi commented on #362
The problem is that `SWTGraphicUtil.addDisposer(buttonContainer, oldButtonContainerImage); `will only work if the image never changes but it is reasiggned in line 115

As it is likely null at the time of calling `SWTGraphicUtil.addDisposer` it will never dispose anything. I think a new method would be required here instead

[code]

[2021-08-18 12:46] vogella commented on #362
cc @lcaron

[2021-08-23 18:29] lcaron commented on #362
Hi

 I am on holidays for the moment, I'll have a look next week.

Cheers

Laurent

Le mer. 18 août 2021 à 14:46, Lars Vogel ***@***.***> a
écrit :

[2021-08-31 08:55] lcaron commented on #360
Hi Romain,

Well, it seems that we are neighbours (I live & work in Lyon :) )

I propose to close this issue and reopen it if the SWT Team asks an help or a modification in the Nebula code.
Are you ok with that ?

[2021-08-31 08:56] lcaron commented on #357
Issue closed, thanks @laeubi & @wimjongman

[2021-08-31 08:56] #357 closed, assigned to nobody

[2021-08-31 08:58] #362 closed, assigned to nobody

[2021-08-31 09:07] rbioteau commented on #360
We actually already met each other in Grenoble  😉
I'm ok to close the issue here. It seems that the SWT ticket got some attention so it is on good track to be addressed.
Thanks !

[2021-08-31 09:07] #360 closed, assigned to nobody

[2021-08-31 09:10] vogella commented on #362
Thanks

Laurent CARON ***@***.***> schrieb am Di., 31. Aug. 2021,
10:58:

[2021-08-31 09:44] lcaron opened #364 "XViewer Pattern Filter does not work with Eclipse 4.20 (2021-06)"
The class "org.eclipse.ui.internal.StringMatcher" has been removed so the class "PatternFilter" can not be compiled

[2021-08-31 09:54] lcaron commented on #364
Issue closed (Nebula 2.6.0)

[2021-09-01 15:35] ivanooi opened #366 "Gallery support Drag and Drop Item"
Hi,

 Will Gallery support drag and drop items?

Thanks

[2021-09-01 17:04] lcaron commented on #366
Hi

What do you mean by "support drag n' drop" ? Are you talking about reorganizing items ?

Regards

Laurent

[2021-09-01 17:05] #364 closed, assigned to nobody

[2021-09-01 17:07] lcaron commented on #333
@JackPGreen Can you provide a snippet that reproduces your problem ? I can work on this topic.

[2021-09-01 17:09] lcaron commented on #299
@videgro this issue did not move since about 6 month, so I prefer to close it. Feel free to reopen if you think this is relevant

[2021-09-01 17:09] #299 closed, assigned to nobody

[2021-09-01 20:45] lcaron commented on #359
It is Christmas @laeubi ;)

You can now
a) change the background color of selected & unselected items
b) Choose a fast selection mode
c) Change the font
d) Change the number of columns

And the size of each "block" is computed automatically (based on the largest/highest item).

Please have a look at : https://github.com/eclipse/nebula/blob/master/widgets/opal/launcher/org.eclipse.nebula.widgets.op

[2021-09-02 04:21] laeubi commented on #359
Great this looks very promising! :+1:

[2021-09-03 13:50] ivanooi commented on #366
Yes..

[2021-09-04 03:25] ivanooi commented on #366
Is that possible to do so? re-arrange GalleryItem using drag and drop.

Thanks

[2021-09-05 14:23] lcaron commented on #366
Not yet. Do you want me to work on this topic ?

[2021-09-05 14:52] nricheton commented on #366
Hello Laurent, Ivan

If you start to work on this, I can help you.

Some years ago, I made some initial tests, but if I remember correctly, I had some issues with DragAndDrop handler on some platforms : ability to be both DragSource and dropTarget AND track pointer location.

Since Gallery is designed to support movement effects (scrolling, section opening) I wanted to be close of the iOs App reor

[2021-09-09 10:13] lcaron commented on #366
Hi Nicolas,

Thank you for your feedback and your proposal.

I have not started working on this topic, I think that I'll work on this
next week.

Regards,

Laurent

Le dim. 5 sept. 2021 à 16:53, Nicolas Richeton ***@***.***> a
écrit :

[2021-09-16 14:34] ghelle opened #368 "How to change PTProperty color when the property changed? (to identify changes)"
I want to change the property color of a PropertyTable when a property is modified.
I am using PTPropertyChangeListener to get the new PTProperty value but i want to change th PTProperty color to show the modified property…
There is no no access to the widget / Item of the property…to change the color
What is the way for that ?

Thanks for your help

Guillaume Helle

[2021-09-19 19:26] lcaron commented on #368
https://github.com/eclipse/nebula/pull/369

The PTProperty object contains now 3 methods to change the graphical aspect of the "display name" associated to the property: `changeFont()`, `changeBackgroundColor()` and `changeForegroundColor()`

The PropertyTable contains a new method `discardChanges()` that resets the values stored in the table.

[2021-09-19 19:26] #368 closed, assigned to nobody

[2021-10-17 10:50] lcaron commented on #314
Hi Patrik,

Any news about this problem ?

[2021-10-17 10:51] lcaron commented on #333
@JackPGreen Can you provide a snippet that reproduces your problem ? I can work on this topic.

[2021-10-17 10:52] lcaron commented on #349
@Pontesegger Can you please provide a snippet ?

[2021-10-18 00:31] ikus060 commented on #314
Didn't get back any complains from my users. Closing this.

[2021-10-18 00:31] #314 closed, assigned to nobody

[2021-10-18 19:28] lcaron opened #371 "Migrate Eclipse Jar Plugin to 1.3.2"
Build for Nebula is failing :

[ERROR] Failed to execute goal org.eclipse.cbi.maven.plugins:eclipse-jarsigner-plugin:1.1.5:sign (sign) on project org.eclipse.nebula.examples: [Sun Sep 19 19:32:38 UTC 2021] Unable to sign jar '/home/jenkins/agent/workspace/nebula.stable/examples/org.eclipse.nebula.examples/target/org.eclipse.nebula.examples-1.0.4-SNAPSHOT.jar': No route to host (Host unreachable) -

[2021-10-18 19:43] lcaron commented on #371
Bug fixed, build are now successfull !

[2021-10-18 19:43] #371 closed, assigned to nobody

[2021-10-19 20:15] lcaron commented on #306
Hi Remi

Any news about this request ?

Cheers,
Laurent

[2021-10-19 20:16] lcaron commented on #345
@wimjongman Do you think that this issue can be fixed for Nebula 2.6.0 ?

[2021-10-20 07:12] wimjongman commented on #345
Thanks for reminding, I will take a look.

[2021-10-20 08:09] vnairathira opened #374 "check box in TableCombo to select multiple items"
Hello All,

Is it possible to add check box in TableCombo (org.eclipse.nebula.widgets.tablecombo.TableCombo) ?
We have a requirement where we can add check box in a combo dropdown and select multiple items. checked item should be added in text area with a comma separator
Is there any example for it?

[2021-10-20 13:22] lcaron commented on #374
Hi

It is not possible yet with TableCombo, but you can use the **Multichoice** widget : https://wiki.eclipse.org/Nebula_Multichoice

What do you think ?

[2021-10-21 13:35] vnairathira commented on #374
This is a great suggestion. Filtering item is also possible with this?   (Type anything in text area and related items should be shown in the dropdown. This would be helpful if we set large data and user don't know what exactly they are looking for)

[2021-10-21 19:42] lcaron opened #375 "Added styled text and keyword Filter to branch … #370"
Issue for PR https://github.com/eclipse/nebula/pull/370

[2021-10-21 19:50] lcaron commented on #374
Interesting proposal, but unfortunately the "multichoice" widget does not accept filtering, and in case of large data the pop up window may overflow. If one enhances the "Table combo" widget (with checkbox) he has to implement filtering (the text part the table combo is read only).

Fitting both requirements needs a brand new component I think.

Do you want to work on such component ?

[2021-10-27 13:30] vogella opened #378 "mvn clean verify fails on the root project with DuplicateProjectException"
If I run mvn clean verify in the root of the project I get:

org.eclipse.nebula.examples is duplicated in the reactor.

[2021-10-30 20:42] lcaron opened #380 "Create a multiselector"
Create a combo that allows to select multiple elements and filter data

[2021-10-30 21:00] fipro78 commented on #380
You could have a look at the NatTable NatCombo that actually provides all the features. But I never tried to use it outside the NatTable.

[2021-10-31 13:39] lcaron commented on #380
Thank you Dirk, I'll have a look.

[2021-11-02 21:19] lcaron opened #381 "Add SWTTiles project to Nebula"
I got in touch with Fabian Prasser, the author of SWTTiles (https://github.com/prasser/swttiles), and he accepted to include his widget in Nebula 👍

[2021-11-03 08:15] vogella commented on #378
Looks like both include the examples in their pom, I will send a PR

[2021-11-03 08:36] vogella opened #384 "Starting using pomless builds"
Looks like Nebula is not yet configured to build with pomless settings.

I suggest to add the configuration so that we can reduce the number of pom file.s

[2021-11-03 08:36] janiak-minova opened #385 "Gallery Tests fail on Mac"
I tried building the project on macOS Big Sur with `mvn clean verify`, but get the following error:

[code]

[2021-11-03 08:37] vogella commented on #385
I think pomless build does that automatically. Can you try to setup #384 ?

[2021-11-03 09:09] vogella commented on #385
Tested with pomless builds and the same error. Will create an issue for Tycho.

[2021-11-03 09:14] laeubi commented on #385
Please see https://stackoverflow.com/questions/46485846/java-xstartonfirstthread-command-line-options-unrecognized-in-linux-but-working

[2021-11-03 09:17] laeubi commented on #385
-  https://github.com/eclipse/tycho/discussions/234

[2021-11-03 16:54] wimjongman commented on #381
Wow! That is a really nice addition. Thanks, @prasser and @lcaron

[2021-11-04 08:21] vogella commented on #378
Can this be reopened? I will try to solve it differently.

[2021-11-04 08:31] wimjongman commented on #378
Lars, I'm not sure if this is actually broken. The build is split in two because we regard this as two separate "projects" each with their distinct releng. The examples view is shared between them.

* Release
Contains the stable and maintained widgets which are released periodically

* Incubation
Contains new and unmaintained widgets.

[2021-11-04 08:33] vogella commented on #378
Still would be nice to build them together.... Expect a PR soon...

[2021-11-04 15:05] vogella opened #390 "SVG tests stop local buid"
If I run a local build for the released components, the test for the SVG view stops the build. Seems like the SVG tests not never stopped and the build waits for them.

[2021-11-04 15:07] vogella commented on #390
I suggest to "temporary" disable the the SVG tests or to fix them (I guess this requires input from a person familiar with SvgRender.

[2021-11-04 19:31] wimjongman opened #392 "Create GitHub Actions"
Create github actions

[2021-11-04 19:31] #392 closed, assigned to nobody

[2021-11-04 20:07] wimjongman commented on #392
Lars, I had to remove java17. Does not work with Tycho 2.2.0

@vogella

[2021-11-05 09:23] vogella opened #396 "org.eclipse.nebula.cwt.tests have failures"
![image](https://user-images.githubusercontent.com/139910/140488207-7fea0b72-1351-4237-ab42-b5511e6df44d.png)

[2021-11-05 09:29] vogella commented on #396
Looks like this plug-in has lots of test errors.

I suggest to disable the tests so that we can run the tests again in the build verification.

[2021-11-05 09:43] vogella opened #398 "org.eclipse.nebula.widgets.cdatetime.tests have failures"
I see multiple failures in cdatetime.tests  via the Maven build or the manual execution in the IDE.

Suggest to temporary disable them for the build

[2021-11-05 09:54] vogella commented on #390
Fixed with https://github.com/eclipse/nebula/pull/397

[2021-11-05 09:54] #378 closed, assigned to nobody

[2021-11-05 22:07] prasser commented on #381
I'm very happy to have this widget included in Nebula! This is exciting!

[2021-11-10 07:48] vogella opened #407 "Turn on discussion?"
Tycho is using https://github.com/eclipse/tycho/discussions instead of the mailing list. Maybe this is something also for Nebula?

[2021-11-10 07:50] vogella opened #408 "Question: Update Java version?"
I see that lots of widgets are still based on pre Java 11 versions. As platform and JFace moved a while ago to Java 11 and giving that Java 17 is the latest long term maintenance version, could we also start moving Nebula widgets to Java 11?

[2021-11-10 08:05] vogella commented on #408
Also SWT moved to Java 11.

[2021-11-10 09:47] vogella opened #413 "Hard-coded margins in preference window"
Currently the Apply and Close buttons at the end of the dialog do not have margins as the shell hard-code this to zero. This looks IMHO not in line with other SWT widgets.

![image](https://user-images.githubusercontent.com/139910/141089828-203ce671-56f7-4554-98cd-a7853409828c.png)

I think it looks better without hard-coded marings to zero:

![image](https://user-images.githubusercontent.com/1399

[2021-11-10 09:47] vogella commented on #413
![image](https://user-images.githubusercontent.com/139910/141090115-c93f429d-8500-442d-affa-e9cfdb9d010a.png)

[2021-11-10 10:14] vogella commented on #413
Noted that this affects also the button container. PR needs more work...

[2021-11-10 11:55] vogella commented on #413
![image](https://user-images.githubusercontent.com/139910/141108575-8e5eb7ce-225b-40a5-b978-7225f52ca9ed.png)

Background highlighted in the screenshot. This one looks IMHO better. PR will be updated.

[2021-11-10 12:53] vogella commented on #408
@wimjongman WDYT`?

[2021-11-10 12:55] vogella opened #417 "Allow that the widgets in PreferenceWindow can increase in size"
Our RCP allows the user to use CSS to set a very large font. Unfortunately in the current implementation the widgets of the PreferenceWindow are not allow to grow. Would be great if this could be adjusted.

PR coming.

[2021-11-10 13:00] wimjongman commented on #408
Yes, we should move everything to Java 11.

[2021-11-10 13:37] vogella commented on #417
This is the result

![image](https://user-images.githubusercontent.com/139910/141123073-31d27fea-7b30-45a4-8706-8325e7a8c919.png)

[2021-11-11 09:42] Bauer-David opened #419 "TextAssist appears in the background"
I noticed that the popup of TextAssist is sometimes displayed in the background. The style is set to SWT.ON_TOP. This error occurs very sporadically and only under windows.

![Popup in the background](https://user-images.githubusercontent.com/20420949/140722328-a586ae4b-df5b-4758-9225-9072031de791.png)

In the picture above you can see how the popup is displayed in the background. If it helps, her

[2021-11-11 21:07] wimjongman commented on #407
Thanks, I was just looking into that for BIRT. I have created the welcome topic.

[2021-11-11 21:08] #407 closed, assigned to nobody

[2021-11-11 21:09] #390 closed, assigned to nobody

[2021-11-11 21:10] wimjongman commented on #419
Thanks, David. Can you supply a patch?

[2021-11-12 08:22] Bauer-David commented on #419
No, sorry. I was hoping that you might come to a solution. I'm still trying to solve it, but unfortunately I'm at a dead end.

[2021-11-12 12:25] wimjongman commented on #419
Before popup.setVisible(true) please set popup.setActive()

This will bring the popup to the foreground before it is made visible. Please try with this setting and if it works you can supply a pull request.

[2021-11-12 12:32] wimjongman commented on #419
That has glitches on windows. Try this block instead:

			if (!popup.isVisible()) {
				popup.setActive();
				popup.setVisible(true);
			}

[2021-11-12 12:41] wimjongman opened #423 "[TextAssist] Provide normal SWT constructor and improve snippet"
We should provide a normal SWT constructor. The widget already has a setContentProvider. It would make the sequence like this:

		final TextAssist textAssist = new TextAssist(shell, SWT.SINGLE | SWT.BORDER);
		textAssist.setContentProvider(contentProvider);

The main snippet's content provider could be a little more clear when people try the widget out.

[2021-11-12 13:37] Bauer-David commented on #419
Thank you. I will test your solution and give you feedback when I see results. It might take a while because the error is very sporadic. I will create a pull request if it works.

[2021-11-12 19:02] #417 closed, assigned to nobody

[2021-11-12 19:04] lcaron commented on #366
Well, it is not as easy as it looks. This evolution is postponed to Nebula 2.7.0

[2021-11-12 19:06] lcaron commented on #384
Issue closed. Thank you @janiak-minova for your contribution.

[2021-11-12 19:06] #384 closed, assigned to nobody

[2021-11-14 09:44] wimjongman opened #425 "Publish test results hangs the build."
The GH Actions build is stuck on "Publish Unit Test Results".

[2021-11-14 09:50] wimjongman opened #427 "Build is running two times"
Steps to reproduce:

1. Edit a file within github
2. Commit to a new branch
3. Create a pull request

Now two builds are submitted:

![image](https://user-images.githubusercontent.com/180969/141676028-796e7f43-edba-4d9d-8e53-9834ea17fa62.png)

[2021-11-15 09:18] wimjongman commented on #423
Before closing, the wiki should be updated.

https://wiki.eclipse.org/Nebula_TextAssist

[2021-11-15 17:03] #423 closed, assigned to nobody

[2021-11-15 17:04] #425 closed, assigned to vogella

[2021-11-15 17:05] wimjongman commented on #425
@vogella please reopen if you want to fix this.

[2021-11-16 20:52] lcaron commented on #408
When you talk about migration, do you think about simply changing pom.xml, manifest.mf, etc. or also use modules ?
(I never understood why Java team decided to create Jigsaw from scratch when OSGi works flawlessly)

[2021-11-17 04:24] fipro78 commented on #408
I would not do anything with regards to modules despite adding the Automatic-ModuleName to the manifest (if it is not there already).

[2021-11-17 06:43] vnairathira commented on #374
Thankyou for the reply. right now "multichoice" widget meet our requirement.

[2021-11-17 06:43] #374 closed, assigned to nobody

[2021-11-17 20:07] lcaron commented on #374
Great, thank you for your feedback

[2021-11-18 17:46] #427 closed, assigned to nobody

[2021-12-02 12:15] mikoeh opened #430 "CDateTime does not notify focusLost"
A FocusListener attached to CDateTime is not notified about a focusLost when the focus changes from the CDateTime to a non-VControl widget. Apparently the VTracker.setFocusControl(VControl control) ignores the possibility that control (which is received by VTracker.getVControl(...) in the FocusIn case in the VTracker.filter) may have been a standard SWT widget instead of a VControl-based widget.
I

[2021-12-02 15:10] mikoeh commented on #430
Pull Request #431

[2021-12-02 18:18] ghost opened #432 "XViewer Widget doesn't notify when it's filtered"
Changed the XViewer Widget label at the bottom to display keyword "Filtered", in red, when list is filtered through input box or filtering selected columns.

[2021-12-04 09:33] #430 closed, assigned to nobody

[2021-12-13 17:29] #432 closed, assigned to nobody

[2021-12-14 08:29] wimjongman commented on #432
Thanks, Hugo!

[2021-12-20 11:15] lcaron commented on #306
Hi Remi

Any news about this request ?

Cheers,
Laurent

[2021-12-20 11:16] lcaron commented on #327
This feature is postponed to Nebula 2.7.0

[2021-12-20 11:17] lcaron commented on #343
It is not easy as it sounds :(
Postponed to 2.7.0

[2021-12-21 16:14] azoitl opened #433 "[Rich Text] Modifylistener called a lot"
I'm doing my first experiments with the RichTextEditor and I noticed that the modifylistener is called nearly constantly. Even when I just move the mouse across the editor. Is this intended? Is there a way how I only get notified when the content of the editor is changed?

[2021-12-21 17:30] fipro78 commented on #433
Actually the ModifyListener should only be triggered if the content changes. In which environment do you notice the incorrect behavior?

[2021-12-21 17:59] azoitl commented on #433
I'm on a Debian/Linux machine, with Gnome 41.1, and Mouse follows focus. I integrated it in a new prototype editor page of a multipage form editor for the Eclipse 4diac project. I'm also happy to share my code if needed.

[2021-12-22 09:33] lcaron commented on #433
We had some issues on windows, and I fixed it. Maybe this commit will give you a hint:
https://github.com/eclipse/nebula/commit/062f4b3f764d041a5d5cbdb20b0e929e79d7c109#diff-a9b50441f0e9c093caac466dcb4cc54e0589791300aefe5a66af34b6b8a2be3d

Feel free to ask

[2021-12-22 12:01] fipro78 commented on #433
Hi Laurent,

I just noticed that you included a 9 year old plugin to fix an issue that should not exist in the current ckeditor 4 version. Well don't want to blame you for this as I haven't found another solution. But did you raise a CQ before you added an additional third party code? Just to ensure this is ok from a legal point of view

[2021-12-23 06:46] fipro78 commented on #433
Just to inform you here, I will have a look if updating the ckeditor version would fix the ModifyListener issues. But it will take some days.

[2021-12-23 14:39] fipro78 commented on #433
First investigation result:
The issue that the ModifyListener is called constantly exists also on Windows and it is actually caused by the onChange plugin that was added via Bug 572068 @lcaron pointed out above. We need to remove that plugin again for several reasons now:
1. I think there is no IP approval for that plugin
2. The plugin is causing regressions in the behavior
3. The plugin is actual

[2021-12-23 16:11] wimjongman commented on #433
Thanks, Dirk!

[2021-12-28 16:32] azoitl opened #434 "[Rich Text] Exception when opening a second rich text editor"
I'm currently expermenting with Nebula's rich text editor integrated in one tab of a multi page editor. This works in general very nice.

However this only works for the first editor. As soon as a try to open further multipage editors (for other files) I get for each the exception as attached below and no rich text editor is shown in my editor tab. Am I doing something wrong? Is there some special

[2021-12-30 16:50] lcaron commented on #433
I'm very sorry for this regression (and sorry dirk, I can not remember if I raised a CQ).

I've made a rollback for issue 57058, so the "change" plugin is no longer included.

@fipro78 Can you please have a look at https://github.com/eclipse/nebula/pull/435 ?

[2021-12-30 17:55] fipro78 commented on #433
No need to apologize for trying to fix an issue. :)

I answered on the PR. Hopefully I get a clue for fixing the strange modification issue.

[2021-12-30 18:52] wimjongman commented on #433
My thoughts exactly :-D

[2021-12-30 20:07] lcaron commented on #434
Hi

I've checked the code and I did not see something special. Can you please specify your JDK and your OS please ?

[2021-12-30 20:10] lcaron commented on #433
Did you get an answer yet or are you hoping for one ?

I played with CKEditor and the original bug is very very very strange. I tried only on Windows and I hope that this issue is not due to (the infamous) IE11.

[2021-12-31 07:22] fipro78 commented on #433
Still hoping for an answer

https://github.com/ckeditor/ckeditor4/issues/5006

It is really strange. It seems to be only related to pressing DEL or BACKSPACE after setting the text but not pressing any other key before. If you press ESC or type anything to change the content otherwise like adding a character, the deletion also causes modifications.

[2021-12-31 14:17] azoitl commented on #434
Hi,
thx for checking.

I'm running OpenJDK:
  openjdk version "11.0.13" 2021-10-19
  OpenJDK Runtime Environment (build 11.0.13+8-post-Debian-1)
  OpenJDK 64-Bit Server VM (build 11.0.13+8-post-Debian-1, mixed mode, sharing)

on Debian Bullseye.

The whole thing I integrated the rich text editor into is an Eclipse RCP with the org.eclipse.ide.ui.workbench application.

My target platform consists

[2022-01-03 11:27] fipro78 commented on #433
Hi Laurent,

I have created a PR https://github.com/eclipse/nebula/pull/436

It looks good so far from my testings. Would be great if you could also verify that things are now working as intended.

[2022-01-03 11:43] lcaron commented on #433
Hi Dirk

Well done. I'm gonna try tonight and I'll give you my feedback.

[2022-01-03 20:21] lcaron commented on #433
Hi Dirk
I played with the RichTextEditor widget and it's working flawlessly, so you can merge this PR (and close this bug :) )
Congratulations !

[2022-01-04 05:21] fipro78 commented on #433
Merged the PR. With the revert commit from Laurent the constant calling of the ModifyListener is fixed and my PR fixes the issue that the ModifyListener is not called on initial opening and deleting characters. So the ModifyListener should now work as intended.

[2022-01-04 05:21] #433 closed, assigned to nobody

[2022-01-04 06:22] fipro78 commented on #434
We have an E4 application example here:
https://github.com/eclipse/nebula/tree/master/widgets/richtext/org.eclipse.nebula.widgets.richtext.example.e4

In that example we have 3 tabs, one with only the editor, one with editor and viewer, and one with a JFace table that integrates the editor as cell editor. So we have a similar setup with multiple tabs that each contains a RichTextEditor. On Windows

[2022-01-04 14:44] azoitl commented on #434
I've cloned the nebula repo and run the E4 example. When I switch from the first tab to the second one I get the same exception (see below). Anything I can do to help finding the root cause of the issue?

/myworkspace/.metadata/.plugins/org.eclipse.pde.core/.bundle_pool/plugins/org.eclipse.nebula.widgets.richtext_1.4.0.202106201019/org/eclipse/nebula/widgets/richtext/resources/template.html:214:50

[2022-01-04 16:56] fipro78 commented on #434
Seems to be an issue in SWT with the latest webkit

https://bugs.eclipse.org/bugs/show_bug.cgi?id=573616
https://bugs.eclipse.org/bugs/show_bug.cgi?id=575472

Not sure if there is anything we or you can do. Despite you are an expert with webkit and the SWT integration, then the SWT team would surely appreciate any help.

[2022-01-05 12:12] azoitl commented on #434
Although I'm trying to learn more about SWT internals I may not be the right person then. Thanks for finding this.

[2022-01-07 09:58] olivergardiner opened #439 "[RichText] Can you add config to disable URL autolinking?"
I'm currently using RichText to implement a custom comment editor for Papyrus but the auto URL linking feature of most browsers is problematic as it formats any text with (e.g.) an "@". I have a local fork that adds the line:

document.execCommand("AutoUrlDetect", false, false);

to the start of the <script> section in template.html which does the trick.

It would be great if this could be a confi

[2022-01-08 11:54] lcaron commented on #408
Postponed to 2.7.0. I'll work on this after the release of Nebula 2.6.0 (February 1st)

[2022-01-08 11:55] lcaron commented on #413
Postponed to 2.7.0

[2022-01-08 11:55] lcaron commented on #419
@Bauer-David Any news about this bug please ?

[2022-01-08 11:56] lcaron commented on #439
@fipro78 can you handle this bug or do you want me to work on it ?

What is your opinion ?

[2022-01-08 12:46] fipro78 commented on #439
Well, my first opinion is ... if someone is able to fork and change things he is surely also able to contribute! ;-)

Second opinion, not sure if document.execCommand() is the right way, or if it would be better to add a BrowserFunction to dynamically be able to change the configuration. I can have a look if the reporter is not willing to contribute.

[2022-01-08 13:21] olivergardiner commented on #439
This is my modified template file:

https://github.com/olivergardiner/palladium/blob/master/org.eclipse.swt.nebula-root/widgets/richtext/org.eclipse.nebula.widgets.richtext/src/org/eclipse/nebula/widgets/richtext/resources/template.html

The added line is line 41

There's a difference between getting maven to build and modifying a simple HTML file and delving into the nebula code but happy to look

[2022-01-08 13:41] lcaron commented on #381
Tiles is now part of Nebula 👍

Than you @prasser for your trust and this fantastic widget !

[2022-01-08 13:41] #381 closed, assigned to nobody

[2022-01-08 21:21] prasser commented on #381
Great. I have to thank you, @lcaron and the Nebula team, for keeping this library maintained! Should you run into issues that I could help with, feel free to ping me!

[2022-01-10 08:05] fipro78 commented on #439
OK, looking into this issue I have collected some information:

1. It is an IE only issue as far as I can tell. It is also known in the CKEditor community https://dev.ckeditor.com/ticket/6307
2. There is actually no need to fork and modify the template.html file. The `RichTextEditor` provides an API to execute Javascript. So you can enable and disable that feature dynamically already.
3. The only

[2022-01-10 08:56] #439 closed, assigned to nobody

[2022-01-18 17:05] wimjongman commented on #381
Fabian, you are welcome to join us. We can use people that know how to push a pixel.

[2022-01-19 09:37] ivanooi opened #444 "Gallery Widget, virtual mode crashed if using swt 4.9"
Hi all,

Gallery Widget virtual mode crashed when using SWT 4.9 on Mac
this is the error :

 java.lang.NullPointerException: Cannot invoke "org.eclipse.swt.internal.cocoa.NSGraphicsContext.graphicsPort()" because "graphicsContext" is null
	at org.eclipse.swt.widgets.Control.internal_new_GC(Control.java:2180)
	at org.eclipse.swt.graphics.GC.<init>(GC.java:177)
	at org.eclipse.nebula.widgets.gallery

[2022-01-19 13:10] wimjongman commented on #444
Please try the latest version SWT 4.22

https://download.eclipse.org/eclipse/downloads/drops4/R-4.22-202111241800/

[2022-01-19 14:25] ivanooi commented on #444
but i need SWT 4.9 which is last 32bit.... it is ok with SWT 17

[2022-01-19 16:49] lcaron commented on #444
Hi
What version of OSX do you use ? SWT had problems with Big Sur

[2022-01-19 17:03] wimjongman commented on #444
It looks like this bug was solved in SWT. It was pushed also to 4_6 maintenance but I don't know how to build this from source.

It does not look like a Nebula issue.

https://bugs.eclipse.org/bugs/show_bug.cgi?id=547399

[2022-01-19 23:31] ivanooi commented on #444
Hi, I'm using Mac OS 10.15

Thanks

[2022-01-23 11:14] lcaron commented on #444
This SWT bug (look at the bugzilla issue 547 399) has been fixed for version 4.12 and backported to 4.6,4.7 and 4.8 (but not 4.9).
Can you try with 4.8 : https://archive.eclipse.org/eclipse/downloads/drops4/R-4.8-201806110500/download.php?dropFile=swt-4.8-cocoa-macosx-x86_64.zip

I confirm that this is not a Nebula bug but a SWT one

[2022-01-26 13:16] Bauer-David commented on #419
Sorry for the late reply. We have tested your solution but it was not successful. If we find another solution I will post it here

[2022-01-27 17:30] lcaron commented on #419
Ok, feel free to ask help !

[2022-02-01 14:58] Bauer-David commented on #419
We continued testing and tried a few solutions, but nothing fixed the error. We also noticed that the error occurs almost exclusively on native Windows. For example, it does not occur on Parallels. If you have any further solutions or help here, we would be very grateful.

If it helps you, here is some more information about our application:

Used Java Version: Amazon Corretto 11 [11.0.6]
Used Fra

[2022-02-01 18:41] lcaron opened #446 "Nebula 2.6.0 releng"

[2022-02-01 18:44] lcaron commented on #419
Thank you for this detailled feedback. I'll try to investigate the next days.

[2022-02-01 22:55] lcaron commented on #446
Version 2.6.0 released

[2022-02-01 22:55] #446 closed, assigned to nobody

[2022-02-25 07:23] wis36 commented on #419
This will actually do nothing, because `setActive()` returns when the Shell is not visible.

[2022-02-25 07:28] wis36 commented on #419
I tested some days on native Windows. I don't know why this happens, Windows 10 also sends other shells to background.

But I found something that helps. I'll try a pull request.

[2022-02-25 08:18] lcaron commented on #419
I'll have a look tonight and make some tests. I'll keep you informed.

[2022-02-27 18:34] lcaron commented on #419
Hi Stefan,

Thank you for your patch. I tested it and it is ok for me.
In order to merge your fix in Nebula you have to sign the Eclipse Contributor Agreement (https://www.eclipse.org/legal/ECA.php) with the email you used in your commit.

Feel free to ask !

[2022-02-28 05:41] wis36 commented on #419
Would it be better to change the commit to my other email? Changing the email of my Eclipse Account seems not that simple.

[2022-02-28 07:07] lcaron commented on #419
Hi Stephan,

Sure, you can amend the commit. The most important consists of commiting with an email associated to the ECA.

Laurent

[2022-02-28 07:36] wis36 commented on #419
Amend after push did not solve the problem - now both email addresses are required.
I'll try another branch.

[2022-02-28 09:53] lcaron commented on #419
The PR has been merged.

@Bauer-David Can you please tried with the latest snapshot ?

[2022-03-01 07:29] Bauer-David commented on #419
Stefan and I are in the same company. We tested it and it works for us. From my site the issue can be closed. Thank you for your help.

[2022-03-04 09:04] x21L commented on #344
Are there any updates on image support?

[2022-03-04 12:14] wimjongman commented on #344
We did not have time. Can you give it a shot?

[2022-03-04 12:31] x21L commented on #344
Yes definitely

[2022-03-04 16:19] wimjongman opened #453 "Oomph Installer is broken"
The oomph setup no longer works.

[2022-03-08 15:07] #419 closed, assigned to nobody

[2022-03-08 16:46] lcaron commented on #419
Thank you for your contribution !

[2022-03-08 16:51] lcaron commented on #344
Thank you, feel free to ask if you need help

[2022-03-18 08:06] vnairathira opened #454 "Bug:-MultiChoice Widget adding Select all as an entry"
We are using org.eclipse.nebula.widgets.opal.multichoice.MultiChoice widget and We are using "Select All" functionality to select all or deselect all the checkboxes using setSelectionListener(new MultiChoiceSelectionListener<Country>(mcSL). But  "Select All" is also added as an entry in text box. When I save this data to database it is an invalid data.
please refer attached image. could you please

[2022-03-18 09:58] wimjongman commented on #454
Thanks for reporting @vnairathira. Are you able to supply a patch for this?

[2022-03-19 11:08] lcaron commented on #454
Thank you for your report. It is not possible to implement a "select all" function without modifiying the code.
We can help you if you decide to provide a patch. Feel free to ask !

[2022-03-30 14:09] vogella opened #455 "FontAwesome does not work on Linux"
The example code for the FontAwesome widget does not render well.

Label text = new Label(parent, SWT.NONE);
text.setFont(FontAwesome.getFont());
text.setText(FontAwesome.code);

Look like the following:

![image](https://user-images.githubusercontent.com/139910/160854726-60c36b18-7d4e-4829-ba08-1caee3ec1e23.png)

[2022-04-07 08:14] cpfeiffer opened #457 "RichText: SWTException when calling getText (too) early"
I've modified the rich text editor sample to show a crash when calling `getText()` before ckeditor has loaded:

See the added `getText()` call in https://github.com/GEBIT/nebula/commit/092e69d16e6eedbbbc62cbf976c0d992f2e836a9
(just launch the example to get the crash). I will create another ticket for the other change in that commit.

[code]

[2022-04-07 08:21] cpfeiffer opened #458 "RichText: SWTException when calling setText() multiple times consecutively"
I've modified the rich text editor sample to call `setText()` twice (when pressing the "Set Text" button). This causes a crash:

[code]

Here's the change, but to try it, comment out the added `getText()` which leads to a crash on startup (#457).
https://github.com/GEBIT/nebula/commit/092e69d16e6eedbbbc62cbf976c0d992f2e836a9

[2022-04-07 08:36] fipro78 commented on #457
Will you provide a patch that could avoid this? Actually you could extend the check in getText() similar to setText() to inspect the editorLoaded flag. And if not true, simply return null. But actually I am unsure about the use case. The modification doesn't make any sense. Why would you try to get the text from a control that you have just created?

BTW, I think there are even more methods in Ric

[2022-04-07 09:04] fipro78 commented on #458
Will you provide a patch? Any idea how to solve that case? As far as I understood, there is no real sync mechanism on calling a BrowserFunction. That means, from the Java perspective the call to a BrowserFunction is triggered, and there is no way to sync the browser call with the Java processing, e.g. to wait that another call is triggered until the previous call is finished. At least I am not awa

[2022-04-07 09:15] fipro78 commented on #457
Oh IIRC I decided actively to not add the editorLoaded check, so a developer finds the error in his/her code at development/testing time. See, with the check, the getText() method would return null, as it could not do anything else. So you would wonder why the value is null, although a value is set. And it would be a timing issue (I remember that I myself was searching for such an issue for quite

[2022-04-07 13:14] cpfeiffer commented on #457
Thanks for the quick answers! It could return `initialValue` when the editor is not loaded, yet. Otherwise, it might be helpful to add a method `isEditorLoaded()` so that clients can check for this condition. Or is there a different way to check this? (That flag might also not be 100% accurate as is, because quite some more initialization happens after it is set to `true`.)

[2022-04-07 13:36] cpfeiffer commented on #458
TBH, I hoped someone else had an idea about this :joy:

This could also just be a problem on Windows/IE and be an SWT issue. At least, I cannot reproduce it on Linux/WebKit2, but then I also suffer from #434 atm.

[2022-04-07 14:29] fipro78 commented on #458
Unfortunately I have no idea on this. I think I had this issue when I created the example and that is why the ModifyListener is not directly updating the RichTextEditor. Every idea I had on this did not work (queuing, synchronizing, delay, ...)

Not sure what to do here. If nobody else has an idea on this, I tend to close as WONTFIX. But we can also keep it open if someone comes up with an idea.

[2022-04-07 14:39] fipro78 commented on #457
Well it adds some BrowserFunctions related to resizing in embedded mode. And the setters can only be called after editorLoaded is set to true. So not sure how this could be changed.

Again, it would be an option to handle that scenario. But actually I am not sure about the use case here. Why is there a need to call getText() in a state where the user interface builds up?

IIRC I had a similar disc

[2022-04-07 14:40] fipro78 commented on #457
BTW, since there is some concurrency going on here, returning the initial value could also lead to some strange behavior if the value is asked while the ProgressListener is running. Means, editorLoaded is set to true, but setText() is not executed yet.

[2022-04-07 15:04] cpfeiffer commented on #458
The only possible improvement I see is wrapping `Browser.evaluate()`with a try-catch and improving the error message. The `SWTException`'s `code` is `SWT.ERROR_FAILED_EVALUATE`.

That way, other people wouldn't need to spend time debugging this.

[2022-04-07 15:15] cpfeiffer commented on #457
I only tried to call `getText()` while debugging #458, so it's not a real issue for me. Just unexpected, and (so I thought) avoidable.

I would expect the ProgressListener to be called in the main thread so there should not be further concurrency issues (when `getText()` also needs to be called in the main thread).

[2022-04-26 15:57] morgsie opened #460 "Nebula PropertyTable unsort() results in a NPE"
We have used Opal(1.0.9) in our RCP project for years, particularly using the PropertyTable.

As part of an upgrade we have updated Opal to the new Nebula project.
I believe we have downloaded that latest, the plugins are timestamped "_1.0.0.202011020719", which I believe is version 2.6.0

When we first started using Opal we found a bug where when calling the unsort() method a NPE would be returne

[2022-05-02 20:23] lcaron commented on #460
It seems that there is a problem with the latest release... Can you please try with Nebula 2.5.0 : https://download.eclipse.org/nebula/releases/2.5.0/ ?

[2022-05-02 20:26] lcaron opened #461 "Update plugins version"
Currently version number are completly messy (https://download.eclipse.org/nebula/releases/2.5.0/plugins/).
I propose to move all plugins to version 2.6.0.qualifier.

[2022-05-02 21:13] lcaron commented on #461
Any concern @wimjongman @fipro78 @vogella ?

[2022-05-03 04:04] fipro78 commented on #461
Yes I have concerns. Actually the plugins use semantic versioning. And each plugin/widget has its own version. The nebula version itself is the version of the parent, means not every plugin/widget is updated for a release. I think that approach is perfectly valid and should be kept.

[2022-05-03 06:05] wimjongman commented on #461
I agree with Dirk. Versions should be updated when changes are made to a widget according to sematic versioning.

[2022-05-03 06:08] laeubi commented on #461
+1

[2022-05-03 16:19] lcaron commented on #461
Thank you for you feedback, I'll close this bug. Anyway, we should (and I include myself) more rigorous when a bug is fixed, and increase the plugin version.

[2022-05-03 16:19] #461 closed, assigned to nobody

[2022-05-04 07:19] vogella commented on #461
@lcaron, maybe we should add baseline support? This way GH build action will tell you if you need a version increase.

See https://github.com/eclipse/gef-classic/blob/master/pom.xml#L19 and https://github.com/eclipse/gef-classic/blob/master/pom.xml#L185 for the way @azoitl added it for GEF classic.

[2022-05-04 07:23] laeubi commented on #461
There is also an outstanding issue in Tycho to add the BND OSGI baseline support, but has not gotten much interest fro now, so if one sees a use case let us know:
- https://github.com/eclipse/tycho/issues/115

[2022-05-11 15:31] morgsie commented on #460
Thank you for your email, really appreciate you getting back to me. I have tried it with the 2.5.0 release today as you suggested but seem to be getting the same error:
`java.lang.NullPointerException: Cannot invoke "org.eclipse.swt.widgets.Tree.setRedraw(boolean)" because "this.tree" is null
at org.eclipse.nebula.widgets.opal.propertytable.PTWidgetTree.refillData(PTWidgetTree.java:169)
at org.ecl

[2022-05-14 16:25] lcaron commented on #461
Thank you very much for your feedbacks. My experience with RCP app is the product of our company, so all plugins have the same version number (all plugins are elements of a whole product).

Cheers,
Laurent

[2022-05-14 20:30] lcaron commented on #460
Ok can you please try with the latest release : https://download.eclipse.org/nebula/snapshot/  ?

[2022-05-15 08:15] wimjongman commented on #461
Right. When single bundles are not important then this is fine. We do the same actually. We update all plugins during the build from a marker 88.88.88 to the version number we are building for. It is not correct from a semantic versioning standpoint but it works very well.

In case of having to deploy single bundles, as we do in Nebula, then we have to use semantic versioning.

Cheers, Wim

[2022-05-16 06:48] morgsie commented on #460
Thanks for getting back to us, Laurent.

I am no longer seeing the NPE. However, the `unsort()` function appears to be sorting the properties in some random order as they are not appearing in the order in which they are created, which is the behaviour in Opal 1.0.9 and the desired behaviour.

It almost appears as if they are being sorted Z ->A but not quite. We need to categories (and properties)

[2022-05-18 08:19] wimjongman opened #466 "XViewer customizations not saving filter"

[2022-05-18 08:20] wimjongman commented on #466
@dondunne please file issues in the future so that we have a milestone list of changes.

[2022-05-18 08:20] #466 closed, assigned to nobody

[2022-05-18 17:46] dondunne commented on #466
How does one "file issues"?

Don

On Wed, May 18, 2022 at 1:20 AM Wim Jongman ***@***.***>
wrote:

[2022-05-19 07:14] wimjongman commented on #466
![image](https://user-images.githubusercontent.com/180969/169232528-9e93323e-b537-4396-8b4f-2940af718681.png)

[2022-05-21 21:24] lcaron commented on #460
Hi

First of all, I forgot to thank you for using Opal since a long time.
Can you please try with the latest release ? it should be ok.

[2022-05-23 07:32] morgsie commented on #460
Hi Laurent,
Thank you, this latest build does resolve the issue and we are seeing the expected behaviour. Thank you!! I assume this fix will be rolled into your next release, which is scheduled for the 1st July?

[2022-05-30 10:13] lcaron commented on #460
Hi
Sorry for my late answer (back from holidays).
You're totally wright, this issue will be fixed in the 2.7.0 release. Do you need an intermediate version (v2.6.1) ?

[2022-05-30 11:46] morgsie commented on #460
Hi Laurent,
I hope you had a good holiday! We should be fine to wait for the 2.7.0 release at the beginning of July, just good to know that it is coming so that we can plan our testing and release.

Thanks,
Mhorag

From: Laurent CARON ***@***.***>
Sent: 30 May 2022 11:14
To: eclipse/nebula ***@***.***>
Cc: Mhorag Lane ***@***.***>; Author ***@***.***>
Subject: Re: [eclipse/nebula] Nebula PropertyT

[2022-05-30 14:17] lcaron commented on #460
Fine for me, thank you for your trust

[2022-05-30 15:05] morgsie commented on #460
Thank you for your support 😊

From: Laurent CARON ***@***.***>
Sent: 30 May 2022 15:17
To: eclipse/nebula ***@***.***>
Cc: Mhorag Lane ***@***.***>; Author ***@***.***>
Subject: Re: [eclipse/nebula] Nebula PropertyTable unsort() results in a NPE (Issue #460)

Fine for me, thank you for your trust

—
Reply to this email directly, view it on GitHub<https://github.com/eclipse/nebula/issues/460#issuec

[2022-06-05 15:17] #460 closed, assigned to nobody

[2022-06-24 17:57] lcaron commented on #453
@wimjongman can we close this issue ?

[2022-06-24 17:59] lcaron commented on #359
@wimjongman why did you reopened this issue please ?

[2022-06-24 17:59] lcaron commented on #366
Postponed to release 2.8.0

[2022-06-24 18:03] lcaron commented on #375
@dondunne is it ok for you if I close this issue ?

[2022-06-24 18:03] lcaron commented on #380
This issue is no longer relevant

[2022-06-24 18:03] #380 closed, assigned to nobody

[2022-06-24 18:04] #396 closed, assigned to nobody

[2022-06-24 18:04] #398 closed, assigned to nobody

[2022-06-24 18:05] lcaron commented on #434
Postponed to 2.8.0

[2022-06-24 18:05] lcaron commented on #444
Close this issue

[2022-06-24 18:05] #444 closed, assigned to nobody

[2022-06-24 18:07] lcaron commented on #455
@vogella what OS & Graphic Toolkit do you use please ?

[2022-06-24 18:15] lcaron commented on #194
@JackPGreen There is no activity on this issue for 2 years. Can we close it ?

[2022-06-24 18:16] lcaron commented on #304
@laeubi There is no activity on this issue for more than a year. Can we close it ?

[2022-06-24 18:17] lcaron commented on #306
@remipannequin There is no activity on this issue for more than a year. Can we close it ?

[2022-06-24 18:17] lcaron commented on #333
@JackPGreen There is no activity on this issue for more than a year. Can we close it ?

[2022-06-24 18:18] lcaron commented on #344
@x21L Any news about this issue ?

[2022-06-24 18:18] lcaron commented on #345
@wimjongman any news about this issue ?

[2022-06-24 18:23] lcaron commented on #351
@dondunne can you please work on this topic ?

[2022-06-24 18:25] lcaron commented on #385
@janiak-minova Any news about this bug ?

[2022-06-24 18:25] lcaron commented on #408
I'll work on this topic this week

[2022-06-24 18:32] laeubi commented on #304
@lcaron I think this might be fixed by https://github.com/eclipse/nebula/commit/d57e14d92a8259df2d92935ad49d7d168da7a309

[2022-06-25 00:59] ivanooi commented on #444
Hi, sorry for my late reply. Yes, you;re right. no issues with 4.8 except 4.9 thanks again

[2022-06-27 20:22] #359 closed, assigned to nobody

[2022-06-27 20:22] wimjongman commented on #359
I don't know. I closed it again.

[2022-06-28 09:29] lcaron commented on #408
We are close from the release date, so the migration is planned for 2.8.0 (long and tricky work :) )

[2022-06-30 11:58] lcaron commented on #304
Great, thank you !

[2022-06-30 11:58] #304 closed, assigned to nobody

[2022-07-02 18:58] lcaron commented on #454
Once the `Multichoice `object is created, you can display the "Select All/Deselect All" links by calling the method `setShowSelectUnselectAll(true)`

![image](https://user-images.githubusercontent.com/1170014/177013130-cdac43f2-d38e-4402-99d2-5979774abc86.png)

[2022-07-03 08:54] lcaron opened #471 "Nebula 2.7.0 releng"
Release bug

[2022-07-03 13:11] #471 closed, assigned to nobody

[2022-07-05 14:21] vnairathira commented on #454
Thankyou for the update. It really helps our requirement.
But when I click on "Select All/Deselect All" list is not updating on Text field. setLabel() needs to be added in selectAllLink.addListener() and deselectAllLink.addListener()

selectAllLink.addListener(SWT.Selection, e -> {
				changeButtonState(true);
				setLabel();
			});
deselectAllLink.addListener(SWT.Selection, e -> {
				changeButto

[2022-07-06 16:11] lcaron commented on #454
You're right, I'm gonna fix it tonight and prepare a minor release

[2022-07-07 21:57] lcaron opened #477 "Nebula 2.7.1 releng"

[2022-07-07 22:25] #477 closed, assigned to nobody

[2022-07-07 22:27] lcaron commented on #454
Bug fixed in Nebula 2.7.1, which is (just) released.

[2022-07-07 22:27] #454 closed, assigned to nobody

[2022-07-25 13:46] F8Fabe opened #480 "TableComboViewer: Dropdown not showing when detached as Eclipse View"
In our software project, we are using the nebula TableComboViewer in an Eclipse View. When detaching the view from the main Eclipse Window, the Dropdown of the ComboBox is not shown.

My Code is like this:

[code]

with parent being the parent composite . If needed I can provide a full example, but I would need to create an example eclipse plugin only containing the example.

I have recorded a vid

[2022-07-27 17:47] lcaron commented on #480
Hi Fabian,

Thank you for your report. Can you give me some extra information please
a) Which platform do you use ? (Eclipse version)
b) Which JDK ?
c) Which OS ?

I'll try to reproduce also on my side.

Laurent

[2022-07-28 13:35] F8Fabe commented on #480
Thanks for the fast reply!

a) Eclipse Version: 2022-06 (4.24), Build id: I20220607-0700
Nebula TableCombo Plugin 1.2.0.202207031059
b) jdk-11.0.15.10-hotspot
c) Windows 10 Pro (21H1)

If you cannot reproduce it, I can provide an empty plugin containing my code example. Just let me know ;)

[2022-07-28 16:33] lcaron commented on #480
I did not reproduced this bug but I think I found something interesting. Can you please make a try with this patched version of the plugin ? (extension is zip because GitHub does not accept JAR extensions)

[org.eclipse.nebula.widgets.tablecombo_1.2.0.202207281644.zip](https://github.com/eclipse/nebula/files/9221287/org.eclipse.nebula.widgets.tablecombo_1.2.0.202207281644.zip)

(@F8Fabe I've patch

[2022-07-29 15:18] lcaron opened #481 "Nebula Rounded Checkbox is not present in the software repository"
If you look at the latest repository (https://download.eclipse.org/nebula/releases/latest/plugins/) the Nebula Rouded Checkbox plugin is not available

[2022-07-29 16:09] lcaron commented on #481
Bug fixed in Nebula 3.0.0

[2022-07-29 16:09] #481 closed, assigned to nobody

[2022-08-03 15:36] x21L commented on #344
Yes I created a PR
see: https://github.com/eclipse/nebula/pull/484

[2022-08-10 12:49] kpvinutha opened #485 "Show selection of Mutichoice widget displays empty shell when entries are selected through "select All" option"
We are using org.eclipse.nebula.widgets.opal.multichoice.MultiChoice widget and We are using "Select All" functionality to select all or deselect all the checkboxes.With "Select All" ,getSelection() method return empty listn. But ,If I select individual entries one by one ,then getSelection() method is returning list of selected entries.
please refer the attached image in which I selected entries

[2022-08-10 14:30] wimjongman commented on #485
Thanks for reporting. Are you able to supply a patch?

https://github.com/eclipse/nebula

[2022-08-11 18:18] lcaron commented on #480
Hi @F8Fabe

Did you tried the patch ?

[2022-08-12 05:09] F8Fabe commented on #480
Hi @lcaron

Sorry for the late response - I was on vacation last week.

I tried to but in our software project I don't know how to to insert the jar file into the target platform since we only use update sites and maven. Is there any chance that you could upload the patch with a eclipse update site? Else I will make an empty plugin project from scratch and try to insert it this way (or try to host

[2022-08-12 17:21] lcaron commented on #480
Hi Fabian,

No problem, you have the right to be on vacation ;)

You can try the latest repo : https://download.eclipse.org/nebula/snapshot/

If this is fine for you, I'll release a 2.7.2 version of Nebula.

Take care,

Laurent

[2022-08-12 17:48] lcaron commented on #485
Hi @kpvinutha

Thank you for reporting. This bug is fixed, please check the snapshot : https://download.eclipse.org/nebula/snapshot

If it is ok for you, I'll create a minor release (V2.7.2) next week (15th or 16th of August)

Please keep me informed.

[2022-08-14 08:20] F8Fabe commented on #480
Hi,
I did some testing. At first I thought the bug is now fixed, but i could reproduce the bug in another way now.

It works now fine when detached first time 👍 BUT when i later drop the detached view into Eclipse again. The Dropdown is not showing again (does not happen always). If this glitch happens it may also keep not showing the dropdown when detaching or attaching again.

The key to reprodu

[2022-08-15 08:32] kpvinutha commented on #485
Hello @lcaron ,
Verified the snapshot. It perfectly suits our requirement. Please go ahead with the release.
Thank you for the quick fix.

[2022-08-16 06:47] F8Fabe commented on #480
By the way you can release the 2.7.2 version if you want, since it already improved the behavior!

Greetings,
Fabian.

[2022-08-17 10:39] MrTimbones opened #487 "Grid: Double-click on top row doesn't work when header is not visible"
It's not possible to double-click on the first row of a [Grid](https://github.com/eclipse/nebula/blob/master/widgets/grid/org.eclipse.nebula.widgets.grid/src/org/eclipse/nebula/widgets/grid/Grid.java) if the header has not been made visible via `.setHeaderVisible(true)`. The MouseDoubleClick event is simply ignored, and no other listeners are notified.

It looks like this was introduced by PR #175

[2022-08-17 17:50] lcaron opened #489 "Nebula 2.7.2 releng"

[2022-08-17 18:00] lcaron commented on #487
Bug fixed in Nebula 2.7.2

[2022-08-17 18:00] #487 closed, assigned to nobody

[2022-08-17 18:24] lcaron commented on #485
Fixed in Nebula 2.7.2

[2022-08-17 18:24] #485 closed, assigned to lcaron

[2022-08-17 18:25] lcaron commented on #480
Ok thank you. I will release the V2.7.2 and I keep working on this topic

[Edit] Nebula 2.7.2 is now available

[2022-08-17 18:47] lcaron commented on #485
Nebula 2.7.2 is now available

[2022-08-17 18:48] lcaron commented on #487
Nebula 2.7.2 is now available

[2022-08-17 18:54] lcaron commented on #306
This bug is closed because there is no activity since a long time. Feel free to re-open it if you think it is still relevant.

[2022-08-17 18:54] #306 closed, assigned to nobody

[2022-08-17 18:54] lcaron commented on #194
This bug is closed because there is no activity since a long time. Feel free to re-open it if you think it is still relevant.

[2022-08-17 18:54] #194 closed, assigned to nobody

[2022-08-17 18:55] #489 closed, assigned to nobody

[2022-08-17 18:56] lcaron commented on #289
@wimjongman do you plan to work on this enhancement ?

[2022-08-17 18:57] lcaron commented on #333
This bug is closed because there is no activity since a long time. Feel free to re-open it if you think it is still relevant.

[2022-08-17 18:57] #333 closed, assigned to nobody

[2022-08-17 18:58] lcaron commented on #347
This bug is closed because there is no activity since a long time. Feel free to re-open it if you think it is still relevant.

[2022-08-17 18:58] #347 closed, assigned to nobody

[2022-08-17 18:58] lcaron commented on #348
This bug is closed because there is no activity since a long time. Feel free to re-open it if you think it is still relevant.

[2022-08-17 18:58] #348 closed, assigned to nobody

[2022-08-17 18:58] lcaron commented on #349
This bug is closed because there is no activity since a long time. Feel free to re-open it if you think it is still relevant.

[2022-08-17 18:58] #349 closed, assigned to nobody

[2022-08-17 18:59] #375 closed, assigned to nobody

[2022-08-17 19:01] lcaron commented on #351
This bug is closed because there is no activity since a long time. Feel free to re-open it if you think it is still relevant.

[2022-08-17 19:01] #351 closed, assigned to lcaron

[2022-08-17 19:02] lcaron commented on #455
@vogella what OS & Graphic Toolkit do you use please ?

[2022-08-17 19:04] lcaron commented on #408
Nebula needs now a JDK 11 to run ;)

[2022-08-17 19:04] #408 closed, assigned to nobody

[2022-08-17 19:08] vogella commented on #455
Sorry for the late reply. I use latest official Ubuntu release, most of the time with Wayland

[2022-08-18 13:58] wimjongman commented on #289
Not in the short term. I am swamped with my own software.

[2022-08-19 08:59] F8Fabe commented on #480
Hi Icaron,

I managed to reliable reproduce the bug. It occurs when reattaching a detached view with a tablecombo which has an openend dropdown menu. I attached a recording of the behavior. Please let me know if you can reproduce the bug or else I will provide a repository containing a sample plugin.

[2022-08-22 12:52] F8Fabe commented on #480
Greetings @lcaron

I created a simple sample plugin, which can be used to reproduce the bug reliably.

https://github.com/F8Fabe/org.plugin.bugreport_nebula

You just need to run the plugin.xml as Eclipse Application and add the view (name is Sample View). Then detach the view, open the dropdown menu and reattach the view. I even noticed this Exception in the console:

`!ENTRY org.eclipse.ui 4 0 2

[2022-08-31 15:09] morgsie commented on #460
Hi Laurent,
I hope you are well. I have a quick question for you and I hope you are able to help me.

I have a tabfolder with 3 tab items. On one of the tabitems I want to have a treeviewer as well as a PropertyTable. I have tried to do this using a SWT Group as the composite on the tabitem, however, the PropertyTable doesn’t seem to display. I can see the treeviewer and any text fields I add to t

[2022-09-01 17:38] lcaron commented on #460
Hi Mhorag

I'll be happy to help you, please send me a code sample.

Take care,

Laurent

[2022-09-01 17:39] lcaron commented on #480
Thank you fabian for the sample plugin, I'll work on this problem the next days.

Take care,

Laurent

[2022-09-01 17:40] lcaron commented on #289
No problem, the next release of our product is planned for the end of this month, so I totally understand :)

[2022-09-01 17:41] lcaron commented on #455
No problem, I'll have a look.

[2022-09-02 08:17] morgsie commented on #460
Hi Laurent,
Thank you so much for your assistance! Please find attached some sample code to show what I am attempting.

Kind regards,
Mhorag

From: Laurent CARON ***@***.***>
Sent: 01 September 2022 18:39
To: eclipse/nebula ***@***.***>
Cc: Mhorag Lane ***@***.***>; Author ***@***.***>
Subject: Re: [eclipse/nebula] Nebula PropertyTable unsort() results in a NPE (Issue #460)

Hi Mhorag

I'll be hap

[2022-09-03 17:54] lcaron commented on #460
Hi Mhorag

There is no sample code attached :'(

Laurent

[2022-09-04 14:11] morgsie commented on #460
Hi Laurent,
It seems the attached file has not been removed by the email server. I will resend it once I am back home. Apologies for the delay.

Mhorag

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Laurent CARON ***@***.***>
Sent: Saturday, 3 September 2022, 18:55
To: eclipse/nebula ***@***.***>
Cc: Mhorag Lane ***@***.***>; Author ***@***.***>
Subject: R

[2022-09-04 16:16] morgsie commented on #460
Hi Laurent,
Please see my sample code below. Thank you again for your assistance 😊

import org.eclipse.jface.viewers.TreeViewer;
import org.eclipse.jface.viewers.TreeViewerColumn;
import org.eclipse.nebula.widgets.opal.propertytable.PTProperty;
import org.eclipse.nebula.widgets.opal.propertytable.PropertyTable;
import org.eclipse.swt.SWT;
import org.eclipse.swt.layout.FillLayout;
import org.eclips

[2022-09-06 16:29] lcaron commented on #460
Hi Mhoragh

It is what you want ?

![image](https://user-images.githubusercontent.com/1170014/188687629-66f41cbd-d90e-468c-bcd0-3c13af07cfc8.png)

If it is the case, here is the source code :

[PropTableAndTreetabs.txt](https://github.com/eclipse/nebula/files/9498911/PropTableAndTreetabs.txt)

Laurent

[2022-09-07 10:08] morgsie commented on #460
Hi Laurent,
That is perfect, I feel quite stupid for missing that! Thank you so much for your help, I really appreciate it.

Kind Regards,
Mhorag

From: Laurent CARON ***@***.***>
Sent: 06 September 2022 17:29
To: eclipse/nebula ***@***.***>
Cc: Mhorag Lane ***@***.***>; Author ***@***.***>
Subject: Re: [eclipse/nebula] Nebula PropertyTable unsort() results in a NPE (Issue #460)

Hi Mhoragh

It is

[2022-09-12 06:19] lcaron commented on #460
I'm happy for being helpful !

Take care

Laurent

[2022-09-29 11:05] cpfeiffer commented on #434
FWIW, https://bugs.eclipse.org/bugs/show_bug.cgi?id=573616 is fixed for eclipse 4.24 (2022-06) and it works for me, now (I tested with eclipse 4.25). So from my POV, this can be closed, no changes in Nebula needed.

[2022-09-29 11:12] lcaron commented on #434
Great news !
Thank you for this information, I can close this bug. I really appreciate when developers give us additionnal information.

[2022-09-29 11:12] #434 closed, assigned to nobody

[2022-09-29 11:23] cpfeiffer commented on #434
The least, I can do. Thank you so much for maintaining Nebula! :heart:

[2022-10-11 09:21] morgsie commented on #460
Hi Laurent,
Thank you for your email, really appreciate you getting back to me. I have tried it with the 2.5.0 release today as you suggested but seem to be getting the same error:
[Graphical user interface, text, application  Description automatically generated]

Thanks,
Mhorag

From: Laurent CARON ***@***.***>
Sent: 02 May 2022 21:23
To: eclipse/nebula ***@***.***>
Cc: Mhorag Lane ***@***.***>;

[2022-10-18 14:01] Cydoniat opened #492 "Check box column does not check/uncheck correctly"
Hello everyone!

We've encountered a pretty boring problem and for some days now we haven't been able to solve it. To give a bit of background, we have a Nebula NatTable with 5 columns, where the last one should be a a column containing simple check boxes. We have followed this tutorial: https://www.vogella.com/tutorials/NatTableEditing/article.html. However, the problem we have is with actual cli

[2022-10-18 20:06] fipro78 commented on #492
I'm not sure if I understand correctly. Do you expect that the checkbox state changes when you click in the cell even if you don't hit the checkbox? Or is it something different?

Btw, although NatTable is a subproject of Nebula it has its own repository and forum. I wasn't able to migrate it to GitHub so far.

[2022-10-19 08:56] Cydoniat commented on #492
I see my mistake, I said cell but meant the check box inside of it. The tick doesn't (dis)appear even in any case - neither when clicking exactly on the check box nor on the cell. The only thing that works is selecting the cell and ten hitting the space bar.

Should I move the question to the other forum?

[2022-10-19 12:24] fipro78 commented on #492
Well, if the checkbox state change works on key press but not on click, I suppose you are missing the necessary ui bindings. The tutorial you are referring to is not covering this fact, as it simply uses a `GridLayer` that has the necessary configurations already included by default. If you are not using a `GridLayer` with the default configuration enabled, the necessary mouse bindings are missing

[2022-11-03 13:55] JITHU1903 opened #493 "FormattedText.MaskFormatter doesn't work as expected in RAP(Remote Application Platform)"
I have a formatted text field and a mask applied to it.
when typing numbers in the field the typed number fields will appear randomly in RAP..

To give more context of the behaviour
for example i have a mask applied to the field
(###) ### - #### and I have numbers partially filled (123) 4- and try to insert a 5 (i.e. (1235) 4 before it corrects the value) this is the input to MaskFormatter.insetTe

[2022-11-03 14:09] JITHU1903 commented on #493
![Untitled design](https://user-images.githubusercontent.com/87558374/199742363-d0fe7771-84f7-47c8-b8a6-3f5caeb5a8bc.gif)

The number entering to the field first is non problematic field when opened in RCP
The number entering second time is when opened in RAP

[2022-11-04 18:59] lcaron commented on #493
Hi

Can you please post a sample code that reproduces the bug ?

I think it will be difficult to find people who are cumfortable with RAP... Do you think you can provide a patch ?

Laurent

[2022-11-04 20:05] JITHU1903 commented on #493
the sample is very similar to the example snippet 1 provided NumberFormatter, instead I am using MaskFormatter

package org.eclipse.nebula.snippets.formattedtext;

import java.util.Locale;

import org.eclipse.nebula.widgets.formattedtext.FormattedText;
import org.eclipse.nebula.widgets.formattedtext.MaskFormatter;
import org.eclipse.swt.layout.GridData;
import org.eclipse.swt.layout.GridLayout;
im

[2022-11-04 21:53] rcpsync opened #494 "Dialog Error (Eclipse 2022-09)"
An error occurs in the Eclipse 2022-09

Dailog package

Occurs when the OK, Cancel ...  button is pressed.

The same is error when using ChoiceItem
------------------------------------------------------------------------------
org.eclipse.swt.SWTException: Widget is disposed
	at org.eclipse.swt.SWT.error(SWT.java:4918)
	at org.eclipse.swt.SWT.error(SWT.java:4833)
	at org.eclipse.swt.SWT.error(SWT.

[2022-11-05 04:22] rcpsync commented on #494
I solved.

below code changed in FooterArea class

FooterArea.this.parent.shell.dispose();
to
Display.getDefault().asyncExec(new Runnable() {
                    FooterArea.this.parent.shell.dispose();
}

[2022-11-08 10:29] #494 closed, assigned to nobody

[2022-11-09 15:48] cpfeiffer commented on #360
For reference, this [is fixed](https://bugs.eclipse.org/bugs/show_bug.cgi?id=575472) with eclipse 4.24.

[2022-11-09 20:32] lcaron commented on #360
Thank you for this feedback

[2022-11-21 20:27] jolkdarr opened #496 "Minor errors in API documentation"
Incorrect javadoc comments in `AdvancedPath` class.
Pull request: #495

[2022-11-22 08:46] lcaron commented on #496
Issue fixed, thank you for your contribution

[2022-11-22 08:46] #496 closed, assigned to nobody

[2022-11-23 11:00] opcoach opened #497 "incubation update site should be fixed in a version..."
When we use incubation plugins from this update site : https://download.eclipse.org/nebula/incubation/snapshot and we refer to the p2 repository with the tpd editor the URL in target file will change every time the content of the snapshot site changes (ie : in the target file the release of feature is used and will change...).

So it is absolutely not handy to have to recreate the target file each

[2022-11-23 11:24] wimjongman commented on #497
This is the solution. We do not make incubation releases so there is no fixed repo.

[2022-11-23 13:56] opcoach commented on #497
Hi Wim :) What is the criteria to let a project in incubation ? There are there for more than 2 years and should not be considered as incubated anymore right ?

[2022-11-23 14:59] wimjongman commented on #497
All incubated widgets go there, and all widgets that don't have an active maintainer. Which widgets do you want to adopt? 😉

[2022-11-24 09:09] opcoach commented on #497
We use those one :

location "https://download.eclipse.org/nebula/incubation/snapshot/"
{
	org.eclipse.nebula.widgets.datechooser.feature.feature.group
	org.eclipse.nebula.widgets.calendarcombo.feature.feature.group
	org.eclipse.nebula.widgets.formattedtext.feature.feature.group
}

[2022-11-25 02:52] riyueniao opened #498 "Fontawesome do not work with multiple users."
Run the following code by two users at the same time, then the second user's run can not show the icon correctly.
[code]

Result on the second run.
![image](https://user-images.githubusercontent.com/41854481/203891044-1bf38f37-f779-4fe7-9329-a99605109390.png)

[2022-11-25 12:01] wimjongman commented on #498
What do you mean by two users at the same time? Can you be more specific?

[2022-11-25 14:36] wimjongman commented on #497
Just for you, I made a latest incubation repository.

This one changes only with every release. We cannot provide a static incubation repo.

https://download.eclipse.org/nebula/incubation/latest

[2022-11-25 14:36] #497 closed, assigned to nobody

[2022-11-26 07:01] riyueniao commented on #498
For example,  userA run the code and hold the UI. Then userB run the same code two.
OS: centos 7